In [4]:
! pip3 install pymysql

Requirement already satisfied: pymysql in /Users/junghyunsong/anaconda3/lib/python3.11/site-packages (1.1.1)

In [5]:
import pymysql

def init_connection():
    connection = pymysql.connect(
        host="localhost",
        port=3306,
        user="root",
        password="root",
        cursorclass=pymysql.cursors.DictCursor,
        charset="utf8",
    )
    return connection

sql = "SHOW DATABASES;"
conn = init_connection()

with conn:
    with conn.cursor() as cur:
        cur.execute(sql)
        for data in cur:
            print(data)

{'Database': 'information_schema'}
{'Database': 'mysql'}
{'Database': 'performance_schema'}
{'Database': 'sys'}

In [6]:
conn = init_connection()
sql = "CREATE DATABASE address DEFAULT CHARACTER SET utf8;"

with conn:
    with conn.cursor() as cur:
        cur.execute(sql)
        conn.commit()

In [7]:
conn = init_connection()
sql = "SHOW DATABASES;"

with conn:
    with conn.cursor() as cur:
        cur.execute(sql)
        for data in cur:
            print(data)

{'Database': 'address'}
{'Database': 'information_schema'}
{'Database': 'mysql'}
{'Database': 'performance_schema'}
{'Database': 'sys'}

In [8]:
import pymysql.cursors


def init_db_connection():
    connection = pymysql.connect(
        host = 'localhost' ,
        port = 3306 ,
        user = 'root' ,
        password = 'root' ,
        database = 'address' , 
        cursorclass= pymysql.cursors.DictCursor ,
        charset= 'utf8' ,
        local_infile= True
    )
    return connection

def query_get(sql):
    connection = init_db_connection()
    with connection:
        with connection.cursor() as cursor:
            cursor.execute(sql)
            return cursor.fetchall()

def query_update(sql):
    connection = init_db_connection()
    with connection:
        with connection.cursor() as cursor:
            cursor.execute(sql)
            connection.commit()
            return True

In [9]:
sql = '''
    CREATE TABLE `rnaddrkor` (
        `도로명주소관리번호` varchar(26) NOT NULL,
        `법정동코드` varchar(10),
        `시도명` varchar(40),
        `시군구명` varchar(40),
        `읍면동명` varchar(40),
        `리명` varchar(40),
        `산여부` varchar(1),
        `번지` varchar(4),
        `호` varchar(4),
        `도로명코드` varchar(12) NOT NULL,
        `도로명` varchar(80),
        `지하여부` varchar(1) NOT NULL,
        `건물본번` int(5) NOT NULL,
        `건물부번` int(5) NOT NULL,
        `행정동코드` varchar(60),
        `행정동명` varchar(60),
        `기초구역번호(우편번호)` varchar(5),
        `이전도로명주소` varchar(400),
        `효력발생일` varchar(8),
        `공동주택구분` varchar(1),
        `이동사유코드` varchar(2),
        `건축물대장건물명` varchar(400),
        `시군구용건물명` varchar(400),
        `비고` varchar(200),
        PRIMARY KEY (`도로명주소관리번호`, `도로명코드`, `지하여부`, `건물본번`, `건물부번`)
    );
'''

query_update(sql)

True

In [10]:
sql = '''
    CREATE TABLE `jibun_rnaddrkor` (
        `도로명주소관리번호` varchar(26) NOT NULL,
        `법정동코드` varchar(10) NOT NULL,
        `시도명` varchar(40),
        `시군구명` varchar(40),
        `법정읍면동명` varchar(40),
        `법정리명` varchar(40),
        `산여부` varchar(1) NOT NULL,
        `지번본번(번지)` int(4) NOT NULL,
        `지번부번(호)` int(4) NOT NULL,
        `도로명코드` varchar(12),
        `지하여부` varchar(1),
        `건물본번` int(5),
        `건물부번` int(5),
        `이동사유코드` varchar(2),
        PRIMARY KEY (`도로명주소관리번호`, `법정동코드`, `산여부`, `지번본번(번지)`, `지번부번(호)`)
    );
'''

query_update(sql)

True

In [11]:
query_get('SHOW TABLES;')

[{'Tables_in_address': 'jibun_rnaddrkor'}, {'Tables_in_address': 'rnaddrkor'}]

In [12]:
query_get("DESC rnaddrkor;")

[{'Field': '도로명주소관리번호',
  'Type': 'varchar(26)',
  'Null': 'NO',
  'Key': 'PRI',
  'Default': None,
  'Extra': ''},
 {'Field': '법정동코드',
  'Type': 'varchar(10)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '시도명',
  'Type': 'varchar(40)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '시군구명',
  'Type': 'varchar(40)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '읍면동명',
  'Type': 'varchar(40)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '리명',
  'Type': 'varchar(40)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '산여부',
  'Type': 'varchar(1)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '번지',
  'Type': 'varchar(4)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '호',
  'Type': 'varchar(4)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '도로명코드',
  'Type': 'varchar(12)',
  'Null': 'NO',
  'Key': 'PRI',
  'Default': None,
  'Extra': ''},
 {'Field': '도로명',
  'Type': 'varchar(80)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '지하여부',
  'Type': 'varchar(1)',
  'Null': 'NO',
  'Key': 'PRI',
  'Default': None,
  'Extra': ''},
 {'Field': '건물본번',
  'Type': 'int',
  'Null': 'NO',
  'Key': 'PRI',
  'Default': None,
  'Extra': ''},
 {'Field': '건물부번',
  'Type': 'int',
  'Null': 'NO',
  'Key': 'PRI',
  'Default': None,
  'Extra': ''},
 {'Field': '행정동코드',
  'Type': 'varchar(60)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '행정동명',
  'Type': 'varchar(60)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '기초구역번호(우편번호)',
  'Type': 'varchar(5)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '이전도로명주소',
  'Type': 'varchar(400)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '효력발생일',
  'Type': 'varchar(8)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '공동주택구분',
  'Type': 'varchar(1)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '이동사유코드',
  'Type': 'varchar(2)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '건축물대장건물명',
  'Type': 'varchar(400)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '시군구용건물명',
  'Type': 'varchar(400)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '비고',
  'Type': 'varchar(200)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''}]

In [13]:
import glob

file_list = glob.glob("/Users/junghyunsong/Desktop/rnaddrkor/rnaddrkor_*.txt")

for file in file_list:
    print(file)

/Users/junghyunsong/Desktop/rnaddrkor/rnaddrkor_sejong.txt
/Users/junghyunsong/Desktop/rnaddrkor/rnaddrkor_jeonnam.txt
/Users/junghyunsong/Desktop/rnaddrkor/rnaddrkor_seoul.txt
/Users/junghyunsong/Desktop/rnaddrkor/rnaddrkor_ulsan.txt
/Users/junghyunsong/Desktop/rnaddrkor/rnaddrkor_gyeongnam.txt
/Users/junghyunsong/Desktop/rnaddrkor/rnaddrkor_incheon.txt
/Users/junghyunsong/Desktop/rnaddrkor/rnaddrkor_chungnam.txt
/Users/junghyunsong/Desktop/rnaddrkor/rnaddrkor_daejeon.txt
/Users/junghyunsong/Desktop/rnaddrkor/rnaddrkor_daegu.txt
/Users/junghyunsong/Desktop/rnaddrkor/rnaddrkor_chungbuk.txt
/Users/junghyunsong/Desktop/rnaddrkor/rnaddrkor_gangwon.txt
/Users/junghyunsong/Desktop/rnaddrkor/rnaddrkor_gyunggi.txt
/Users/junghyunsong/Desktop/rnaddrkor/rnaddrkor_gwangju.txt
/Users/junghyunsong/Desktop/rnaddrkor/rnaddrkor_jeju.txt
/Users/junghyunsong/Desktop/rnaddrkor/rnaddrkor_busan.txt
/Users/junghyunsong/Desktop/rnaddrkor/rnaddrkor_gyeongbuk.txt
/Users/junghyunsong/Desktop/rnaddrkor/rnaddrkor_jeonbuk.txt

In [14]:
import os
from tqdm import tqdm

total_line_count = 0  

for file in tqdm(file_list, desc='Processing files'):
    file_path = os.path.abspath(file)

   
    with open(file_path, 'r', encoding='cp949', errors='ignore') as f:
        lines = f.readlines()

    
    line_count = len(lines)

   
    total_line_count += line_count

 
    temp_file_path = "temp_file.txt"
    with open(temp_file_path, 'w', encoding='utf8') as f:
        f.writelines(lines)

    sql = f'''
        LOAD DATA LOCAL INFILE "{temp_file_path}" INTO TABLE rnaddrkor
        FIELDS TERMINATED BY "|";
    '''
    print(f"Processing file: {file_path}, Number of lines: {line_count}")
    query_update(sql) 

   
    os.remove(temp_file_path)

print(f"Total number of lines: {total_line_count}")

Processing files:   0%|          | 0/17 [00:00<?, ?it/s]

Processing file: /Users/junghyunsong/Desktop/rnaddrkor/rnaddrkor_sejong.txt, Number of lines: 27510

Processing files:   6%|▌         | 1/17 [00:00<00:07,  2.17it/s]

Processing file: /Users/junghyunsong/Desktop/rnaddrkor/rnaddrkor_jeonnam.txt, Number of lines: 598298

Processing files:  12%|█▏        | 2/17 [00:08<01:17,  5.17s/it]

Processing file: /Users/junghyunsong/Desktop/rnaddrkor/rnaddrkor_seoul.txt, Number of lines: 530721

Processing files:  18%|█▊        | 3/17 [00:15<01:22,  5.92s/it]

Processing file: /Users/junghyunsong/Desktop/rnaddrkor/rnaddrkor_ulsan.txt, Number of lines: 104458

Processing files:  24%|██▎       | 4/17 [00:17<00:54,  4.21s/it]

Processing file: /Users/junghyunsong/Desktop/rnaddrkor/rnaddrkor_gyeongnam.txt, Number of lines: 653480

Processing files:  29%|██▉       | 5/17 [00:26<01:11,  5.93s/it]

Processing file: /Users/junghyunsong/Desktop/rnaddrkor/rnaddrkor_incheon.txt, Number of lines: 186039

Processing files:  35%|███▌      | 6/17 [00:28<00:52,  4.81s/it]

Processing file: /Users/junghyunsong/Desktop/rnaddrkor/rnaddrkor_chungnam.txt, Number of lines: 491608

Processing files:  41%|████      | 7/17 [00:36<00:55,  5.57s/it]

Processing file: /Users/junghyunsong/Desktop/rnaddrkor/rnaddrkor_daejeon.txt, Number of lines: 114026

Processing files:  47%|████▋     | 8/17 [00:37<00:38,  4.27s/it]

Processing file: /Users/junghyunsong/Desktop/rnaddrkor/rnaddrkor_daegu.txt, Number of lines: 229727

Processing files:  53%|█████▎    | 9/17 [00:40<00:30,  3.86s/it]

Processing file: /Users/junghyunsong/Desktop/rnaddrkor/rnaddrkor_chungbuk.txt, Number of lines: 335225

Processing files:  59%|█████▉    | 10/17 [00:45<00:28,  4.13s/it]

Processing file: /Users/junghyunsong/Desktop/rnaddrkor/rnaddrkor_gangwon.txt, Number of lines: 364686

Processing files:  65%|██████▍   | 11/17 [00:50<00:26,  4.39s/it]

Processing file: /Users/junghyunsong/Desktop/rnaddrkor/rnaddrkor_gyunggi.txt, Number of lines: 1020563

Processing files:  71%|███████   | 12/17 [01:03<00:35,  7.11s/it]

Processing file: /Users/junghyunsong/Desktop/rnaddrkor/rnaddrkor_gwangju.txt, Number of lines: 120474

Processing files:  76%|███████▋  | 13/17 [01:05<00:21,  5.47s/it]

Processing file: /Users/junghyunsong/Desktop/rnaddrkor/rnaddrkor_jeju.txt, Number of lines: 155426

Processing files:  82%|████████▏ | 14/17 [01:07<00:13,  4.43s/it]

Processing file: /Users/junghyunsong/Desktop/rnaddrkor/rnaddrkor_busan.txt, Number of lines: 301822

Processing files:  88%|████████▊ | 15/17 [01:11<00:08,  4.28s/it]

Processing file: /Users/junghyunsong/Desktop/rnaddrkor/rnaddrkor_gyeongbuk.txt, Number of lines: 713862

Processing files:  94%|█████████▍| 16/17 [01:20<00:05,  5.93s/it]

Processing file: /Users/junghyunsong/Desktop/rnaddrkor/rnaddrkor_jeonbuk.txt, Number of lines: 437063

Processing files: 100%|██████████| 17/17 [01:27<00:00,  5.13s/it]

Total number of lines: 6384988

In [15]:
sql = "SELECT * FROM rnaddrkor LIMIT 5;"
query_get(sql)

[{'도로명주소관리번호': '11110101310001200009400000',
  '법정동코드': '1111010100',
  '시도명': '서울특별시',
  '시군구명': '종로구',
  '읍면동명': '청운동',
  '리명': '',
  '산여부': '0',
  '번지': '144',
  '호': '3',
  '도로명코드': '111103100012',
  '도로명': '자하문로',
  '지하여부': '0',
  '건물본번': 94,
  '건물부번': 0,
  '행정동코드': '1111051500',
  '행정동명': '청운효자동',
  '기초구역번호(우편번호)': '03047',
  '이전도로명주소': '',
  '효력발생일': '20110729',
  '공동주택구분': '0',
  '이동사유코드': '',
  '건축물대장건물명': '',
  '시군구용건물명': '',
  '비고': ''},
 {'도로명주소관리번호': '11110101310001200009600000',
  '법정동코드': '1111010100',
  '시도명': '서울특별시',
  '시군구명': '종로구',
  '읍면동명': '청운동',
  '리명': '',
  '산여부': '0',
  '번지': '108',
  '호': '14',
  '도로명코드': '111103100012',
  '도로명': '자하문로',
  '지하여부': '0',
  '건물본번': 96,
  '건물부번': 0,
  '행정동코드': '1111051500',
  '행정동명': '청운효자동',
  '기초구역번호(우편번호)': '03047',
  '이전도로명주소': '',
  '효력발생일': '20110729',
  '공동주택구분': '1',
  '이동사유코드': '',
  '건축물대장건물명': '',
  '시군구용건물명': '평안빌',
  '비고': ''},
 {'도로명주소관리번호': '11110101310001200009800000',
  '법정동코드': '1111010100',
  '시도명': '서울특별시',
  '시군구명': '종로구',
  '읍면동명': '청운동',
  '리명': '',
  '산여부': '0',
  '번지': '108',
  '호': '13',
  '도로명코드': '111103100012',
  '도로명': '자하문로',
  '지하여부': '0',
  '건물본번': 98,
  '건물부번': 0,
  '행정동코드': '1111051500',
  '행정동명': '청운효자동',
  '기초구역번호(우편번호)': '03047',
  '이전도로명주소': '',
  '효력발생일': '20110729',
  '공동주택구분': '1',
  '이동사유코드': '',
  '건축물대장건물명': '',
  '시군구용건물명': '청운빌라',
  '비고': ''},
 {'도로명주소관리번호': '11110101310001200009900003',
  '법정동코드': '1111010100',
  '시도명': '서울특별시',
  '시군구명': '종로구',
  '읍면동명': '청운동',
  '리명': '',
  '산여부': '0',
  '번지': '134',
  '호': '2',
  '도로명코드': '111103100012',
  '도로명': '자하문로',
  '지하여부': '0',
  '건물본번': 99,
  '건물부번': 3,
  '행정동코드': '1111051500',
  '행정동명': '청운효자동',
  '기초구역번호(우편번호)': '03032',
  '이전도로명주소': '',
  '효력발생일': '20110729',
  '공동주택구분': '1',
  '이동사유코드': '',
  '건축물대장건물명': '풍림팍사이드빌라',
  '시군구용건물명': '풍림팍사이드빌라',
  '비고': ''},
 {'도로명주소관리번호': '11110101310001200009900004',
  '법정동코드': '1111010100',
  '시도명': '서울특별시',
  '시군구명': '종로구',
  '읍면동명': '청운동',
  '리명': '',
  '산여부': '0',
  '번지': '130',
  '호': '2',
  '도로명코드': '111103100012',
  '도로명': '자하문로',
  '지하여부': '0',
  '건물본번': 99,
  '건물부번': 4,
  '행정동코드': '1111051500',
  '행정동명': '청운효자동',
  '기초구역번호(우편번호)': '03032',
  '이전도로명주소': '',
  '효력발생일': '20110729',
  '공동주택구분': '0',
  '이동사유코드': '',
  '건축물대장건물명': '',
  '시군구용건물명': '경복빌라',
  '비고': ''}]

In [16]:
sql = "SELECT COUNT(*) FROM rnaddrkor;"
query_get(sql)

[{'COUNT(*)': 6384988}]

In [17]:
sql = '''
CREATE TABLE full_rna_addr AS
SELECT DISTINCT A.`기초구역번호(우편번호)` AS 새우편번호,
    CONCAT(A.시도명, ' ',
        CASE WHEN A.시군구명 = '' THEN '' ELSE CONCAT(A.시군구명, ' ') END,
        CASE WHEN A.읍면동명 = '' THEN '' ELSE
            CASE WHEN A.리명 = '' THEN '' ELSE CONCAT(A.읍면동명, ' ') END
        END,
        A.도로명, ' ',
        CASE WHEN A.지하여부 = 0 THEN ''
            WHEN A.지하여부 = 1 THEN '지하 '
            WHEN A.지하여부 = 2 THEN '공중 '
            ELSE ''
        END,
        A.건물본번,
        CASE WHEN A.건물부번 = 0 THEN '' ELSE CONCAT('-', A.건물부번) END,
        CASE
            WHEN A.공동주택구분 = '0' THEN
                CASE
                    WHEN A.읍면동명 = '' THEN ''
                    ELSE
                        CASE WHEN A.리명 = '' THEN CONCAT(' (', A.읍면동명, ')') ELSE '' END
                END
            WHEN A.공동주택구분 = '1' THEN
                CASE
                    WHEN A.읍면동명 = '' THEN
                        CASE
                            WHEN A.시군구용건물명 = '' THEN ''
                            ELSE CONCAT(' (', A.시군구용건물명, ')')
                        END
                    ELSE CONCAT(' (',
                        CASE
                            WHEN A.리명 = '' THEN CONCAT(A.읍면동명, ', ')
                            ELSE ''
                        END,
                        CASE
                            WHEN A.시군구용건물명 = '' THEN ''
                            ELSE A.시군구용건물명
                        END,
                    ')')
                END
            ELSE ''
        END
    ) AS 도로명주소1,
    CONCAT(A.시도명, ' ',
        CASE WHEN A.시군구명 = '' THEN '' ELSE CONCAT(A.시군구명, ' ') END,
        CASE WHEN A.읍면동명 = '' THEN '' ELSE
            CASE WHEN A.리명 = '' THEN '' ELSE CONCAT(A.읍면동명, ' ') END
        END,
        A.도로명, ' ',
        CASE WHEN A.지하여부 = 0 THEN ''
            WHEN A.지하여부 = 1 THEN '지하 '
            WHEN A.지하여부 = 2 THEN '공중 '
            ELSE ''
        END,
        A.건물본번,
        CASE WHEN A.건물부번 = 0 THEN '' ELSE CONCAT('-', A.건물부번) END
    ) AS 도로명주소2,
    A.도로명주소관리번호 AS 도로명주소관리번호,
    A.시도명 AS 시도명
FROM rnaddrkor A;
'''

query_update(sql)

True

In [18]:
sql = 'SELECT * FROM full_rna_addr LIMIT 10;'
query_get(sql)

[{'새우편번호': '03047',
  '도로명주소1': '서울특별시 종로구 자하문로 94 (청운동)',
  '도로명주소2': '서울특별시 종로구 자하문로 94',
  '도로명주소관리번호': '11110101310001200009400000',
  '시도명': '서울특별시'},
 {'새우편번호': '03047',
  '도로명주소1': '서울특별시 종로구 자하문로 96 (청운동, 평안빌)',
  '도로명주소2': '서울특별시 종로구 자하문로 96',
  '도로명주소관리번호': '11110101310001200009600000',
  '시도명': '서울특별시'},
 {'새우편번호': '03047',
  '도로명주소1': '서울특별시 종로구 자하문로 98 (청운동, 청운빌라)',
  '도로명주소2': '서울특별시 종로구 자하문로 98',
  '도로명주소관리번호': '11110101310001200009800000',
  '시도명': '서울특별시'},
 {'새우편번호': '03032',
  '도로명주소1': '서울특별시 종로구 자하문로 99-3 (청운동, 풍림팍사이드빌라)',
  '도로명주소2': '서울특별시 종로구 자하문로 99-3',
  '도로명주소관리번호': '11110101310001200009900003',
  '시도명': '서울특별시'},
 {'새우편번호': '03032',
  '도로명주소1': '서울특별시 종로구 자하문로 99-4 (청운동)',
  '도로명주소2': '서울특별시 종로구 자하문로 99-4',
  '도로명주소관리번호': '11110101310001200009900004',
  '시도명': '서울특별시'},
 {'새우편번호': '03047',
  '도로명주소1': '서울특별시 종로구 자하문로 100 (청운동)',
  '도로명주소2': '서울특별시 종로구 자하문로 100',
  '도로명주소관리번호': '11110101310001200010000000',
  '시도명': '서울특별시'},
 {'새우편번호': '03047',
  '도로명주소1': '서울특별시 종로구 자하문로 100-1 (청운동)',
  '도로명주소2': '서울특별시 종로구 자하문로 100-1',
  '도로명주소관리번호': '11110101310001200010000001',
  '시도명': '서울특별시'},
 {'새우편번호': '03032',
  '도로명주소1': '서울특별시 종로구 자하문로 101 (청운동)',
  '도로명주소2': '서울특별시 종로구 자하문로 101',
  '도로명주소관리번호': '11110101310001200010100000',
  '시도명': '서울특별시'},
 {'새우편번호': '03032',
  '도로명주소1': '서울특별시 종로구 자하문로 103 (청운동)',
  '도로명주소2': '서울특별시 종로구 자하문로 103',
  '도로명주소관리번호': '11110101310001200010300000',
  '시도명': '서울특별시'},
 {'새우편번호': '03047',
  '도로명주소1': '서울특별시 종로구 자하문로 104 (청운동)',
  '도로명주소2': '서울특별시 종로구 자하문로 104',
  '도로명주소관리번호': '11110101310001200010400000',
  '시도명': '서울특별시'}]

In [19]:
sql = '''
SELECT `시도명`, COUNT(DISTINCT `도로명주소관리번호`) AS count
    FROM full_rna_addr
    GROUP BY `시도명`
    ORDER BY count DESC;
'''

query_get(sql)

[{'시도명': '경기도', 'count': 1020563},
 {'시도명': '경상북도', 'count': 713862},
 {'시도명': '경상남도', 'count': 653480},
 {'시도명': '전라남도', 'count': 598298},
 {'시도명': '서울특별시', 'count': 530721},
 {'시도명': '충청남도', 'count': 491608},
 {'시도명': '전북특별자치도', 'count': 437063},
 {'시도명': '강원특별자치도', 'count': 364686},
 {'시도명': '충청북도', 'count': 335225},
 {'시도명': '부산광역시', 'count': 301822},
 {'시도명': '대구광역시', 'count': 229727},
 {'시도명': '인천광역시', 'count': 186039},
 {'시도명': '제주특별자치도', 'count': 155426},
 {'시도명': '광주광역시', 'count': 120474},
 {'시도명': '대전광역시', 'count': 114026},
 {'시도명': '울산광역시', 'count': 104458},
 {'시도명': '세종특별자치시', 'count': 27510}]

In [23]:
! pip install sqlalchemy pymysql

Requirement already satisfied: sqlalchemy in /Users/junghyunsong/anaconda3/lib/python3.11/site-packages (1.4.39)
Requirement already satisfied: pymysql in /Users/junghyunsong/anaconda3/lib/python3.11/site-packages (1.1.1)

In [26]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine("mysql+pymysql://root:root@localhost:3306/address?charset=utf8", echo=True)

conn = engine.connect()
df = pd.read_sql(sql, con=conn)
conn.close()

df

2024-05-24 18:13:22,011 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-05-24 18:13:22,012 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-24 18:13:22,014 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-05-24 18:13:22,014 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-24 18:13:22,015 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-05-24 18:13:22,015 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-24 18:13:22,017 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2024-05-24 18:13:22,018 INFO sqlalchemy.engine.Engine [generated in 0.00028s] {'table_schema': 'address', 'table_name': '\nSELECT `시도명`, COUNT(DISTINCT `도로명주소관리번호`) AS count\n    FROM full_rna_addr\n    GROUP BY `시도명`\n    ORDER BY count DESC;\n'}
2024-05-24 18:13:22,026 INFO sqlalchemy.engine.Engine
SELECT `시도명`, COUNT(DISTINCT `도로명주소관리번호`) AS count
    FROM full_rna_addr
    GROUP BY `시도명`
    ORDER BY count DESC;

2024-05-24 18:13:22,027 INFO sqlalchemy.engine.Engine [raw sql] {}

        시도명    count
0       경기도  1020563
1      경상북도   713862
2      경상남도   653480
3      전라남도   598298
4     서울특별시   530721
5      충청남도   491608
6   전북특별자치도   437063
7   강원특별자치도   364686
8      충청북도   335225
9     부산광역시   301822
10    대구광역시   229727
11    인천광역시   186039
12  제주특별자치도   155426
13    광주광역시   120474
14    대전광역시   114026
15    울산광역시   104458
16  세종특별자치시    27510

In [27]:
import plotly.graph_objects as go

bar = go.Bar(x=df['시도명'], y=df['count'], name='도로명주소관리번호 개수')


layout = go.Layout(title='시도별 도로명주소의 개수')

fig = go.Figure(data=bar, layout=layout)
fig.show()

In [28]:
def multi_query_update(sql):
    connection = init_db_connection()
    with connection:
        with connection.cursor() as cursor:
            sql_list = [query.strip() for query in sql.strip().split('\n')]
            for query in sql_list:
                cursor.execute(query)
                print(f"Query executed: {query}")
            connection.commit()
            return True

In [29]:
sql = '''
ALTER TABLE jibun_rnaddrkor ADD PNU VARCHAR(19);
UPDATE jibun_rnaddrkor SET PNU = CONCAT(`법정동코드`, `산여부`, LPAD(`지번본번(번지)`, 4, '0'), LPAD(`지번부번(호)`, 4, '0'));
'''
multi_query_update(sql)

Query executed: ALTER TABLE jibun_rnaddrkor ADD PNU VARCHAR(19);
Query executed: UPDATE jibun_rnaddrkor SET PNU = CONCAT(`법정동코드`, `산여부`, LPAD(`지번본번(번지)`, 4, '0'), LPAD(`지번부번(호)`, 4, '0'));

True

In [30]:
sql = "SELECT PNU FROM jibun_rnaddrkor LIMIT 5;"
query_get(sql)

()

In [31]:
sql = '''
SELECT A.`도로명주소관리번호`, A.`도로명주소1`, A.`도로명주소2`, B.PNU
FROM full_rna_addr A
LEFT JOIN jibun_rnaddrkor B
ON A.`도로명주소관리번호` = B.`도로명주소관리번호`
LIMIT 10;
'''
query_get(sql)

[{'도로명주소관리번호': '11110101310001200009400000',
  '도로명주소1': '서울특별시 종로구 자하문로 94 (청운동)',
  '도로명주소2': '서울특별시 종로구 자하문로 94',
  'PNU': None},
 {'도로명주소관리번호': '11110101310001200009600000',
  '도로명주소1': '서울특별시 종로구 자하문로 96 (청운동, 평안빌)',
  '도로명주소2': '서울특별시 종로구 자하문로 96',
  'PNU': None},
 {'도로명주소관리번호': '11110101310001200009800000',
  '도로명주소1': '서울특별시 종로구 자하문로 98 (청운동, 청운빌라)',
  '도로명주소2': '서울특별시 종로구 자하문로 98',
  'PNU': None},
 {'도로명주소관리번호': '11110101310001200009900003',
  '도로명주소1': '서울특별시 종로구 자하문로 99-3 (청운동, 풍림팍사이드빌라)',
  '도로명주소2': '서울특별시 종로구 자하문로 99-3',
  'PNU': None},
 {'도로명주소관리번호': '11110101310001200009900004',
  '도로명주소1': '서울특별시 종로구 자하문로 99-4 (청운동)',
  '도로명주소2': '서울특별시 종로구 자하문로 99-4',
  'PNU': None},
 {'도로명주소관리번호': '11110101310001200010000000',
  '도로명주소1': '서울특별시 종로구 자하문로 100 (청운동)',
  '도로명주소2': '서울특별시 종로구 자하문로 100',
  'PNU': None},
 {'도로명주소관리번호': '11110101310001200010000001',
  '도로명주소1': '서울특별시 종로구 자하문로 100-1 (청운동)',
  '도로명주소2': '서울특별시 종로구 자하문로 100-1',
  'PNU': None},
 {'도로명주소관리번호': '11110101310001200010100000',
  '도로명주소1': '서울특별시 종로구 자하문로 101 (청운동)',
  '도로명주소2': '서울특별시 종로구 자하문로 101',
  'PNU': None},
 {'도로명주소관리번호': '11110101310001200010300000',
  '도로명주소1': '서울특별시 종로구 자하문로 103 (청운동)',
  '도로명주소2': '서울특별시 종로구 자하문로 103',
  'PNU': None},
 {'도로명주소관리번호': '11110101310001200010400000',
  '도로명주소1': '서울특별시 종로구 자하문로 104 (청운동)',
  '도로명주소2': '서울특별시 종로구 자하문로 104',
  'PNU': None}]

In [33]:
sql = '''
SELECT A.`도로명주소관리번호`, COUNT(DISTINCT B.PNU) AS PNU_COUNT
FROM full_rna_addr A
LEFT JOIN jibun_rnaddrkor B ON A.`도로명주소관리번호` = B.`도로명주소관리번호`
GROUP BY A.`도로명주소관리번호`
ORDER BY PNU_COUNT DESC
LIMIT 10;
'''

engine = create_engine("mysql+pymysql://root:root@localhost:3306/address?charset=utf8", echo=True)

conn = engine.connect()
df1 = pd.read_sql(sql, con=conn)
conn.close()

2024-05-24 18:15:33,733 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-05-24 18:15:33,734 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-24 18:15:33,735 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-05-24 18:15:33,736 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-24 18:15:33,736 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-05-24 18:15:33,737 INFO sqlalchemy.engine.Engine [raw sql] {}

2024-05-24 18:15:33,739 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2024-05-24 18:15:33,740 INFO sqlalchemy.engine.Engine [generated in 0.00036s] {'table_schema': 'address', 'table_name': '\nSELECT A.`도로명주소관리번호`, COUNT(DISTINCT B.PNU) AS PNU_COUNT\nFROM full_rna_addr A\nLEFT JOIN jibun_rnaddrkor B ON A.`도로명주소관리번호` = B.`도로명주소관리번호`\nGROUP BY A.`도로명주소관리번호`\nORDER BY PNU_COUNT DESC\nLIMIT 10;\n'}
2024-05-24 18:15:33,748 INFO sqlalchemy.engine.Engine
SELECT A.`도로명주소관리번호`, COUNT(DISTINCT B.PNU) AS PNU_COUNT
FROM full_rna_addr A
LEFT JOIN jibun_rnaddrkor B ON A.`도로명주소관리번호` = B.`도로명주소관리번호`
GROUP BY A.`도로명주소관리번호`
ORDER BY PNU_COUNT DESC
LIMIT 10;

2024-05-24 18:15:33,748 INFO sqlalchemy.engine.Engine [raw sql] {}

In [34]:
rna_addr_list = df1['도로명주소관리번호'].tolist()

sql = f'''
SELECT * FROM full_rna_addr WHERE `도로명주소관리번호` IN {str(rna_addr_list).replace('[','(').replace(']',')')}
'''

engine = create_engine("mysql+pymysql://root:root@localhost:3306/address?charset=utf8", echo=True)

conn = engine.connect()
df2 = pd.read_sql(sql, con=conn)
conn.close()

2024-05-24 18:16:02,575 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-05-24 18:16:02,575 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-24 18:16:02,577 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-05-24 18:16:02,577 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-24 18:16:02,578 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-05-24 18:16:02,579 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-24 18:16:02,585 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2024-05-24 18:16:02,585 INFO sqlalchemy.engine.Engine [generated in 0.00045s] {'table_schema': 'address', 'table_name': "\nSELECT * FROM full_rna_addr WHERE `도로명주소관리번호` IN ('11110101310001200009400000', '11110101310001200009600000', '11110101310001200009800000', '111101 ... (55 characters truncated) ... 1110101310001200010000000', '11110101310001200010000001', '11110101310001200010100000', '11110101310001200010300000', '11110101310001200010400000')\n"}
2024-05-24 18:16:02,592 INFO sqlalchemy.engine.Engine
SELECT * FROM full_rna_addr WHERE `도로명주소관리번호` IN ('11110101310001200009400000', '11110101310001200009600000', '11110101310001200009800000', '11110101310001200009900003', '11110101310001200009900004', '11110101310001200010000000', '11110101310001200010000001', '11110101310001200010100000', '11110101310001200010300000', '11110101310001200010400000')

2024-05-24 18:16:02,593 INFO sqlalchemy.engine.Engine [raw sql] {}

In [36]:
merged = df1.merge(df2, on='도로명주소관리번호').sort_values('PNU_COUNT', ascending=False)
merged

,도로명주소관리번호,PNU_COUNT,새우편번호,도로명주소1,도로명주소2,시도명
0,11110101310001200009400000,0,03047,서울특별시 종로구 자하문로 94 (청운동),서울특별시 종로구 자하문로 94,서울특별시
1,11110101310001200009600000,0,03047,"서울특별시 종로구 자하문로 96 (청운동, 평안빌)",서울특별시 종로구 자하문로 96,서울특별시
2,11110101310001200009800000,0,03047,"서울특별시 종로구 자하문로 98 (청운동, 청운빌라)",서울특별시 종로구 자하문로 98,서울특별시
3,11110101310001200009900003,0,03032,"서울특별시 종로구 자하문로 99-3 (청운동, 풍림팍사이드빌라)",서울특별시 종로구 자하문로 99-3,서울특별시
4,11110101310001200009900004,0,03032,서울특별시 종로구 자하문로 99-4 (청운동),서울특별시 종로구 자하문로 99-4,서울특별시
5,11110101310001200010000000,0,03047,서울특별시 종로구 자하문로 100 (청운동),서울특별시 종로구 자하문로 100,서울특별시
6,11110101310001200010000001,0,03047,서울특별시 종로구 자하문로 100-1 (청운동),서울특별시 종로구 자하문로 100-1,서울특별시
7,11110101310001200010100000,0,03032,서울특별시 종로구 자하문로 101 (청운동),서울특별시 종로구 자하문로 101,서울특별시
8,11110101310001200010300000,0,03032,서울특별시 종로구 자하문로 103 (청운동),서울특별시 종로구 자하문로 103,서울특별시
9,11110101310001200010400000,0,03047,서울특별시 종로구 자하문로 104 (청운동),서울특별시 종로구 자하문로 104,서울특별시