In [7]:
pip install cryptography

Requirement already satisfied: cryptography in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (42.0.7)
Requirement already satisfied: cffi>=1.12 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from cryptography) (1.16.0)
Requirement already satisfied: pycparser in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from cffi>=1.12->cryptography) (2.22)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import cryptography; print(cryptography.__version__)

42.0.7

In [2]:
import pymysql

def init_connection():
    connection = pymysql.connect(
        host="localhost",
        port=3306,
        user="root",
        password="root",
        cursorclass=pymysql.cursors.DictCursor,
        charset="utf8",
    )
    return connection

sql = "SHOW DATABASES;"
conn = init_connection()

with conn:
    with conn.cursor() as cur:
        cur.execute(sql)
        for data in cur:
            print(data)


# {'Database': 'information_schema'}
# {'Database': 'mysql'}
# {'Database': 'performance_schema'}
# {'Database': 'sys'}

{'Database': 'address'}
{'Database': 'information_schema'}
{'Database': 'mysql'}
{'Database': 'performance_schema'}
{'Database': 'sys'}

In [3]:
conn = init_connection()
sql = "CREATE DATABASE address DEFAULT CHARACTER SET utf8;"
with conn:
    with conn.cursor() as cur:
        cur.execute(sql)
        conn.commit()

ProgrammingError: (1007, "Can't create database 'address'; database exists")

In [4]:
conn = init_connection()
sql = "SHOW DATABASES;"

with conn:
    with conn.cursor() as cur:
        cur.execute(sql)
        for data in cur:
            print(data)

# {'Database': 'address'}
# {'Database': 'information_schema'}
# {'Database': 'mysql'}
# {'Database': 'performance_schema'}
# {'Database': 'sys'}

{'Database': 'address'}
{'Database': 'information_schema'}
{'Database': 'mysql'}
{'Database': 'performance_schema'}
{'Database': 'sys'}

In [ ]:
#DROP DATABASE address;
#생성한 데이터 베이스 삭제
#데이터 베이스를 삭제하면 내부 정보가 모두 삭제됨.

In [ ]:
##데이터 스키마 구조
#컬럼명과, 컬럼명 값형식 설정.
'''
주소 기반 산업 지원 서비스에서 개별 데이터 스키마 정보 제공 중.
도로명주소 한글 레이아수
1. 컬럼명
2. 개별 컬럼명의 값 크기와 형식
값 = 컬럼명의 자릿수
형식 = 문자 , 숫자 등 값의 유형
pk = primary key의 약자. , 테이블 행 식별 컬럼.
pk는 null값을 허용 ㄴ, 중복값 가질 수 ㄴ
전체분(rnaddrkor): 도로명주소관리번호(PK1), 도로명코드(PK2), 지하여부(PK3), 건물본번(PK4), 건물부번(PK5)
관련지번(jibun_rnaddrkor): 도로명주소관리번호(PK1), 법정동코드(PK2), 산여부(PK3), 지번본번(번지)(PK4), 지번부번(호)(PK5)
'''

In [ ]:
#테이블 생성

In [5]:
def init_db_connection():
    connection = pymysql.connect(
        host="localhost",
        port=3306,
        user="root",
        password="root",
        database="address",
        cursorclass=pymysql.cursors.DictCursor,
        charset="utf8",
    )
    return connection

def query_get(sql):
    connection = init_db_connection()
    with connection:
        with connection.cursor() as cursor:
            cursor.execute(sql)
            return cursor.fetchall()

def query_update(sql):
    connection = init_db_connection()
    with connection:
        with connection.cursor() as cursor:
            cursor.execute(sql)
            connection.commit()
            return True

In [ ]:
#sql = "DROP TABLE rnaddrkor;"

In [6]:
#도로명 주소
sql = '''
    CREATE TABLE rnaddrkor (
        `도로명주소관리번호` VARCHAR(26),
        `법정동코드` VARCHAR(10),
        `시도명` VARCHAR(40),
        `시군구명` VARCHAR(40),
        `읍면동명` VARCHAR(40),
        `리명` VARCHAR(40),
        `산여부` VARCHAR(1),
        `번지` VARCHAR(4),
        `호` VARCHAR(4),
        `도로명코드` VARCHAR(12),
        `도로명` VARCHAR(80),
        `지하여부` VARCHAR(1),
        `건물본번` INT(5),
        `건물부번` INT(5),
        `행정동코드` VARCHAR(60),
        `행정동명` VARCHAR(60),
        `기초구역번호(우편번호)` VARCHAR(5),
        `이전도로명주소` VARCHAR(400),
        `효력발생일` VARCHAR(8),
        `공동주택구분` VARCHAR(1),
        `이동사유코드` VARCHAR(2),
        `건축물대장건물명` VARCHAR(400),
        `시군구용건물명` VARCHAR(400),
        `비고` VARCHAR(200),
        PRIMARY KEY (`도로명주소관리번호`, `도로명코드`, `지하여부`, `건물본번`, `건물부번`)
    );
'''

query_update(sql)
# True

OperationalError: (1050, "Table 'rnaddrkor' already exists")

갑자기 한글 입력 오류가 나는 거 같아 글(https://co-deok.tistory.com/66)을 참고해서 인코딩을 utf-8로 모두 바꾸려고 시도했는데 파이썬 폴더 아래 sql설치폴더를 봐도 my.ini가 없고 ' character_sets_dir                      | /usr/share/mysql-8.4/charsets/'경로도 파일탐색기에 없다고 떠서 인코딩 방식을 바꾸지 못함. 
rnaddrkor_jibun을 활용한 PNU제외하고 다 함.
PNU를 만드는데 table rnaddrkor_jibun에 아무것도 없는 거 같아 테이블을 drop하고 재 생성하며 왜 내용이 아무것도 안들어있는지 확인하던 중 인코딩 오류 발생.

In [7]:
#관련지번
sql = '''
    CREATE TABLE rnaddrkor_jibun (
        '도로명주소관리번호' VARCHAR(26), '법정동코드' VARCHAR(10), '시도명' VARCHAR(40), '시군구명' VARCHAR(40), '법정읍면동명' VARCHAR(40), '법정리명' VARCHAR(40), '산여부' VARCHAR(1), '지번본번(번지)' INT(4), '지번부번(호)' INT(4), '도로명코드' VARCHAR(12), '지하여부' VARCHAR(1), '건물본번' INT(5), '건물부번' INT(5), '이동사유코드' VARCHAR(2),
        PRIMARY KEY ('도로명주소관리번호', '법정동코드', '산여부', '지번본번(번지)', '지번부번(호)')
    );
    '''
query_update(sql)
# True

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ''도로명주소관리번호' VARCHAR(26), '법정동코드' VARCHAR(10), '시�' at line 2")

In [8]:
sql = '''
SELECT * FROM rnaddrkor_jibun LIMIT 1;
'''
query_get(sql)

ProgrammingError: (1146, "Table 'address.rnaddrkor_jibun' doesn't exist")

In [9]:
query_get("SHOW TABLES;")
# [{'Tables_in_address': 'jibun_rnaddrkor'}, {'Tables_in_address': 'rnaddrkor'}]

[{'Tables_in_address': 'full_rna_addr'}, {'Tables_in_address': 'rnaddrkor'}]

In [36]:
query_get("DESC rnaddrkor;")
# [{'Field': '도로명주소관리번호',
#   'Type': 'varchar(26)',
#   'Null': 'NO',
#   'Key': 'PRI',
#   'Default': None,
#   'Extra': ''},
#테이블의 스키마를 보여주는 질의문 query_get

[{'Field': '도로명주소관리번호',
  'Type': 'varchar(26)',
  'Null': 'NO',
  'Key': 'PRI',
  'Default': None,
  'Extra': ''},
 {'Field': '법정동코드',
  'Type': 'varchar(10)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '시도명',
  'Type': 'varchar(40)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '시군구명',
  'Type': 'varchar(40)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '읍면동명',
  'Type': 'varchar(40)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '리명',
  'Type': 'varchar(40)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '산여부',
  'Type': 'varchar(1)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '번지',
  'Type': 'varchar(4)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '호',
  'Type': 'varchar(4)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '도로명코드',
  'Type': 'varchar(12)',
  'Null': 'NO',
  'Key': 'PRI',
  'Default': None,
  'Extra': ''},
 {'Field': '도로명',
  'Type': 'varchar(80)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '지하여부',
  'Type': 'varchar(1)',
  'Null': 'NO',
  'Key': 'PRI',
  'Default': None,
  'Extra': ''},
 {'Field': '건물본번',
  'Type': 'int',
  'Null': 'NO',
  'Key': 'PRI',
  'Default': None,
  'Extra': ''},
 {'Field': '건물부번',
  'Type': 'int',
  'Null': 'NO',
  'Key': 'PRI',
  'Default': None,
  'Extra': ''},
 {'Field': '행정동코드',
  'Type': 'varchar(60)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '행정동명',
  'Type': 'varchar(60)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '기초구역번호(우편번호)',
  'Type': 'varchar(5)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '이전도로명주소',
  'Type': 'varchar(400)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '효력발생일',
  'Type': 'varchar(8)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '공동주택구분',
  'Type': 'varchar(1)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '이동사유코드',
  'Type': 'varchar(2)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '건축물대장건물명',
  'Type': 'varchar(400)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '시군구용건물명',
  'Type': 'varchar(400)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '비고',
  'Type': 'varchar(200)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''}]

In [ ]:
#local infile 허용하기
# = 보안문제가 있지만 속도가 빠름. 용량 큰 파일이라 사용.

In [37]:
def init_db_connection():
    connection = pymysql.connect(
        host="localhost",
        port=3306,
        user="root",
        password="root",
        database="address",
        cursorclass=pymysql.cursors.DictCursor,
        charset="utf8",
        local_infile=True # 클라이언스 상에서 조건 추가
    )
    return connection

In [ ]:
#파일 전체는 데이터용량이 너무 커서 세종 데이터만 불러왔습니다.
#용량부족으로 진행이 불가능하다고 뜸.

In [38]:
import glob

file_list = glob.glob(r"C:\Users\user\Desktop\seoul\rnaddrkor_*.txt")
for file in file_list:
    print(file)

C:\Users\user\Desktop\seoul\rnaddrkor_sejong.txt

In [20]:
#pip install tqdm

In [39]:
import os
from tqdm import tqdm

total_line_count = 0  # 총 행수를 저장할 변수

for file in tqdm(file_list, desc='Processing files'):
    file_path = os.path.abspath(file)

    # cp949로 파일 읽고 행 불러오기
    with open(file_path, 'r', encoding='cp949', errors='ignore') as f:
        lines = f.readlines()

    # 행 수 계산
    line_count = len(lines)

    # 총 행 수에 더하기
    total_line_count += line_count

    # cp949로 읽은 파일을 utf8로 임시파일에 저장
    temp_file_path = "temp_file.txt"
    with open(temp_file_path, 'w', encoding='utf8') as f:
        f.writelines(lines)

    sql = f'''
        LOAD DATA LOCAL INFILE "{temp_file_path}" INTO TABLE rnaddrkor
        FIELDS TERMINATED BY "|";
    '''
    print(f"Processing file: {file_path}, Number of lines: {line_count}")
    query_update(sql) # query_update로 수정

    # 임시파일 삭제
    os.remove(temp_file_path)

print(f"Total number of lines: {total_line_count}")
# Processing files: 100%|██████████| 17/17 [01:43<00:00,  6.12s/it]
# Total number of lines: 6384988

Processing files:   0%|          | 0/1 [00:00<?, ?it/s]

Processing file: C:\Users\user\Desktop\seoul\rnaddrkor_sejong.txt, Number of lines: 27510

Processing files: 100%|██████████| 1/1 [00:02<00:00,  2.36s/it]

Total number of lines: 27510

In [ ]:
'''
LOAD DATA LOCAL INFILE "{temp_file_path}" INTO TABLE rnaddrkor \\
    FIELDS TERMINATED BY "|";
위 코드 형식이 이런거임
'''

In [40]:
sql = "SELECT * FROM rnaddrkor LIMIT 5;"
query_get(sql)

[{'도로명주소관리번호': '36110101200000200181100000',
  '법정동코드': '3611010100',
  '시도명': '세종특별자치시',
  '시군구명': '',
  '읍면동명': '반곡동',
  '리명': '',
  '산여부': '0',
  '번지': '47',
  '호': '1',
  '도로명코드': '361102000002',
  '도로명': '한누리대로',
  '지하여부': '0',
  '건물본번': 1811,
  '건물부번': 0,
  '행정동코드': '3611055600',
  '행정동명': '반곡동',
  '기초구역번호(우편번호)': '30145',
  '이전도로명주소': '',
  '효력발생일': '20181204',
  '공동주택구분': '0',
  '이동사유코드': '',
  '건축물대장건물명': '',
  '시군구용건물명': '수루배마을5단지 상가동',
  '비고': '\r'},
 {'도로명주소관리번호': '36110101200000200182000000',
  '법정동코드': '3611010100',
  '시도명': '세종특별자치시',
  '시군구명': '',
  '읍면동명': '반곡동',
  '리명': '',
  '산여부': '0',
  '번지': '862',
  '호': '0',
  '도로명코드': '361102000002',
  '도로명': '한누리대로',
  '지하여부': '0',
  '건물본번': 1820,
  '건물부번': 0,
  '행정동코드': '3611055600',
  '행정동명': '반곡동',
  '기초구역번호(우편번호)': '30146',
  '이전도로명주소': '',
  '효력발생일': '20191202',
  '공동주택구분': '0',
  '이동사유코드': '',
  '건축물대장건물명': '',
  '시군구용건물명': '왕관빌딩',
  '비고': '\r'},
 {'도로명주소관리번호': '36110101200000200182100000',
  '법정동코드': '3611010100',
  '시도명': '세종특별자치시',
  '시군구명': '',
  '읍면동명': '반곡동',
  '리명': '',
  '산여부': '0',
  '번지': '46',
  '호': '1',
  '도로명코드': '361102000002',
  '도로명': '한누리대로',
  '지하여부': '0',
  '건물본번': 1821,
  '건물부번': 0,
  '행정동코드': '3611055600',
  '행정동명': '반곡동',
  '기초구역번호(우편번호)': '30145',
  '이전도로명주소': '',
  '효력발생일': '20181204',
  '공동주택구분': '0',
  '이동사유코드': '',
  '건축물대장건물명': '',
  '시군구용건물명': '수루배마을5단지 상가동',
  '비고': '\r'},
 {'도로명주소관리번호': '36110101200000200182400000',
  '법정동코드': '3611010100',
  '시도명': '세종특별자치시',
  '시군구명': '',
  '읍면동명': '반곡동',
  '리명': '',
  '산여부': '0',
  '번지': '49',
  '호': '13',
  '도로명코드': '361102000002',
  '도로명': '한누리대로',
  '지하여부': '0',
  '건물본번': 1824,
  '건물부번': 0,
  '행정동코드': '3611055600',
  '행정동명': '반곡동',
  '기초구역번호(우편번호)': '30146',
  '이전도로명주소': '',
  '효력발생일': '20191209',
  '공동주택구분': '0',
  '이동사유코드': '',
  '건축물대장건물명': '',
  '시군구용건물명': '',
  '비고': '\r'},
 {'도로명주소관리번호': '36110101200000200182800000',
  '법정동코드': '3611010100',
  '시도명': '세종특별자치시',
  '시군구명': '',
  '읍면동명': '반곡동',
  '리명': '',
  '산여부': '0',
  '번지': '45',
  '호': '14',
  '도로명코드': '361102000002',
  '도로명': '한누리대로',
  '지하여부': '0',
  '건물본번': 1828,
  '건물부번': 0,
  '행정동코드': '3611055600',
  '행정동명': '반곡동',
  '기초구역번호(우편번호)': '30146',
  '이전도로명주소': '',
  '효력발생일': '20190716',
  '공동주택구분': '0',
  '이동사유코드': '',
  '건축물대장건물명': '',
  '시군구용건물명': '시드니블루',
  '비고': '\r'}]

In [41]:
sql = "SELECT COUNT(*) FROM rnaddrkor;"
query_get(sql)
# [{'COUNT(*)': 6384988}]

[{'COUNT(*)': 27510}]

In [ ]:
###분석
#1. 시도별 도로명 주소의 개수 분석하기

In [ ]:
'''
2줄: full_rna_addr이란 테이블을 생성한다.
3줄: 새우편번호 컬럼에 들어갈 값을 생성한다. rnaddrkor 테이블의 기초구역번호(우편번호) 컬럼을 가져와 새우편번호 컬럼의 값으로 삽입한다.
4-44줄: 도로명주소1 컬럼에 들어갈 값을 생성하는 코드다. CONCAT으로 조건별 값을 조합한다. 도로명주소1 컬럼은 참고항목을 포함한 도로명주소를 생성한다.
45-58줄: 도로명주소2 컬럼에 들어갈 값을 생성하는 코드다. 도로명주소2는 도로명주소1과 같이 CONCAT으로 조건별 값을 조합하고, 참고항목을 포함하지 않은 도로명주소를 생성한다.
59줄: rnaddrkor 테이블에서 도로명주소관리번호의 값을 가져온다.
60줄: rnaddrkor 테이블에서 시도명의 값을 가져온다.
'''

In [42]:
sql = '''
CREATE TABLE full_rna_addr AS
SELECT DISTINCT 
    A.`기초구역번호(우편번호)` AS 새우편번호,
    CONCAT(A.시도명, ' ',
        CASE WHEN A.시군구명 = '' THEN '' ELSE CONCAT(A.시군구명, ' ') END,
        CASE WHEN A.읍면동명 = '' THEN '' ELSE
            CASE WHEN A.리명 = '' THEN '' ELSE CONCAT(A.읍면동명, ' ') END
        END,
        A.도로명, ' ',
        CASE WHEN A.지하여부 = 0 THEN ''
            WHEN A.지하여부 = 1 THEN '지하 '
            WHEN A.지하여부 = 2 THEN '공중 '
            ELSE ''
        END,
        A.건물본번,
        CASE WHEN A.건물부번 = 0 THEN '' ELSE CONCAT('-', A.건물부번) END,
        CASE
            WHEN A.공동주택구분 = '0' THEN
                CASE
                    WHEN A.읍면동명 = '' THEN ''
                    ELSE
                        CASE WHEN A.리명 = '' THEN CONCAT(' (', A.읍면동명, ')') ELSE '' END
                END
            WHEN A.공동주택구분 = '1' THEN
                CASE
                    WHEN A.읍면동명 = '' THEN
                        CASE
                            WHEN A.시군구용건물명 = '' THEN ''
                            ELSE CONCAT(' (', A.시군구용건물명, ')')
                        END
                    ELSE CONCAT(' (',
                        CASE
                            WHEN A.리명 = '' THEN CONCAT(A.읍면동명, ', ')
                            ELSE ''
                        END,
                        CASE
                            WHEN A.시군구용건물명 = '' THEN ''
                            ELSE A.시군구용건물명
                        END,
                    ')')
                END
            ELSE ''
        END
    ) AS 도로명주소1,
    CONCAT(A.시도명, ' ',
        CASE WHEN A.시군구명 = '' THEN '' ELSE CONCAT(A.시군구명, ' ') END,
        CASE WHEN A.읍면동명 = '' THEN '' ELSE
            CASE WHEN A.리명 = '' THEN '' ELSE CONCAT(A.읍면동명, ' ') END
        END,
        A.도로명, ' ',
        CASE WHEN A.지하여부 = 0 THEN ''
            WHEN A.지하여부 = 1 THEN '지하 '
            WHEN A.지하여부 = 2 THEN '공중 '
            ELSE ''
        END,
        A.건물본번,
        CASE WHEN A.건물부번 = 0 THEN '' ELSE CONCAT('-', A.건물부번) END
    ) AS 도로명주소2,
    A.도로명주소관리번호 AS 도로명주소관리번호,
    A.시도명 AS 시도명
FROM rnaddrkor A;
'''

query_update(sql)

OperationalError: (1050, "Table 'full_rna_addr' already exists")

In [43]:
sql = "SELECT * FROM full_rna_addr LIMIT 5;"
query_get(sql)
# [{'새우편번호': '03047',
#   '도로명주소1': '서울특별시 종로구 자하문로 94 (청운동)',
#   '도로명주소2': '서울특별시 종로구 자하문로 94',
#   '도로명주소관리번호': '11110101310001200009400000',
#   '시도명': '서울특별시'},

[{'새우편번호': '30145',
  '도로명주소1': '세종특별자치시 한누리대로 1811 (반곡동)',
  '도로명주소2': '세종특별자치시 한누리대로 1811',
  '도로명주소관리번호': '36110101200000200181100000',
  '시도명': '세종특별자치시'},
 {'새우편번호': '30146',
  '도로명주소1': '세종특별자치시 한누리대로 1820 (반곡동)',
  '도로명주소2': '세종특별자치시 한누리대로 1820',
  '도로명주소관리번호': '36110101200000200182000000',
  '시도명': '세종특별자치시'},
 {'새우편번호': '30145',
  '도로명주소1': '세종특별자치시 한누리대로 1821 (반곡동)',
  '도로명주소2': '세종특별자치시 한누리대로 1821',
  '도로명주소관리번호': '36110101200000200182100000',
  '시도명': '세종특별자치시'},
 {'새우편번호': '30146',
  '도로명주소1': '세종특별자치시 한누리대로 1824 (반곡동)',
  '도로명주소2': '세종특별자치시 한누리대로 1824',
  '도로명주소관리번호': '36110101200000200182400000',
  '시도명': '세종특별자치시'},
 {'새우편번호': '30146',
  '도로명주소1': '세종특별자치시 한누리대로 1828 (반곡동)',
  '도로명주소2': '세종특별자치시 한누리대로 1828',
  '도로명주소관리번호': '36110101200000200182800000',
  '시도명': '세종특별자치시'}]

In [44]:
sql = '''
SELECT 시도명, COUNT(DISTINCT 도로명주소관리번호) AS count
    FROM full_rna_addr
    GROUP BY 시도명
    ORDER BY count DESC;
'''
query_get(sql)
# [{'시도명': '경기도', 'count': 1020563},
#  {'시도명': '경상북도', 'count': 713862},
#  {'시도명': '경상남도', 'count': 653480},
#  {'시도명': '전라남도', 'count': 598298},
#  {'시도명': '서울특별시', 'count': 530721},
#  {'시도명': '충청남도', 'count': 491608},
#  {'시도명': '전북특별자치도', 'count': 437063},
#  {'시도명': '강원특별자치도', 'count': 364686},
#  {'시도명': '충청북도', 'count': 335225},
#  {'시도명': '부산광역시', 'count': 301822},
#  {'시도명': '대구광역시', 'count': 229727},
#  {'시도명': '인천광역시', 'count': 186039},
#  {'시도명': '제주특별자치도', 'count': 155426},
#  {'시도명': '광주광역시', 'count': 120474},
#  {'시도명': '대전광역시', 'count': 114026},
#  {'시도명': '울산광역시', 'count': 104458},
#  {'시도명': '세종특별자치시', 'count': 27510}]

[{'시도명': '세종특별자치시', 'count': 27510}]

In [70]:
#pip install sqlalchemy

In [45]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine("mysql+pymysql://root:root@localhost:3306/address?charset=utf8", echo=True)

conn = engine.connect()
df = pd.read_sql(sql, con=conn)
conn.close()

df

2024-05-29 00:59:40,369 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-05-29 00:59:40,371 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-29 00:59:40,380 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-05-29 00:59:40,382 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-29 00:59:40,389 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-05-29 00:59:40,390 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-29 00:59:40,402 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-29 00:59:40,406 INFO sqlalchemy.engine.Engine DESCRIBE `address`.`
SELECT 시도명, COUNT(DISTINCT 도로명주소관리번호) AS count
    FROM full_rna_addr
    GROUP BY 시도명
    ORDER BY count DESC;
`
2024-05-29 00:59:40,407 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-29 00:59:40,413 INFO sqlalchemy.engine.Engine
SELECT 시도명, COUNT(DISTINCT 도로명주소관리번호) AS count
    FROM full_rna_addr
    GROUP BY 시도명
    ORDER BY count DESC;

2024-05-29 00:59:40,415 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-29 00:59:41,143 INFO sqlalchemy.engine.Engine ROLLBACK

       시도명  count
0  세종특별자치시  27510

In [46]:
import plotly.graph_objects as go
import pandas as pd

# 바그래프 생성
bar = go.Bar(x=df['시도명'], y=df['count'], name='도로명주소관리번호 개수')

# 레이아웃 설정
layout = go.Layout(title='시도별 도로명주소의 개수')

# Figure 생성과 출력
fig = go.Figure(data=bar, layout=layout)
fig.show()

##컴퓨터 용량 문제로 세종시 값만 입력하여 그래프가 아래와 같이 나왔습니다.

In [12]:
def multi_query_update(sql):
    connection = init_db_connection()
    with connection:
        with connection.cursor() as cursor:
            sql_list = [query.strip() for query in sql.strip().split('\n')]
            for query in sql_list:
                cursor.execute(query)
                print(f"Query executed: {query}")
            connection.commit()
            return True

In [13]:
sql = '''
ALTER TABLE rnaddrkor_jibun ADD PNU VARCHAR(19);
UPDATE rnaddrkor_jibun SET PNU = CONCAT('법정동코드', '산여부', LPAD('지번본번(번지)', 4, '0'), LPAD('지번부번(호)', 4, '0'));
'''
multi_query_update(sql)

ProgrammingError: (1146, "Table 'address.rnaddrkor_jibun' doesn't exist")

In [62]:
sql = '''
SELECT COUNT(*) FROM rnaddrkor_jibun;
'''
query_get(sql)

[{'COUNT(*)': 0}]

In [63]:
sql = "SELECT PNU FROM rnaddrkor_jibun LIMIT 5;"
query_get(sql)
# [{'PNU': '1111010100001300003'},
#  {'PNU': '1111010100001290002'},
#  {'PNU': '1111010100001290003'},
#  {'PNU': '1111010100001310001'},
#  {'PNU': '1111010100001290001'}]

()

In [118]:
sql = '''
SELECT A.`도로명주소관리번호`, A.`도로명주소1`, A.`도로명주소2`, B.PNU
FROM full_rna_addr A
LEFT JOIN rnaddrkor_jibun B
ON A.`도로명주소관리번호` = B.`도로명주소관리번호`
LIMIT 10;
'''
query_get(sql)
# [{'도로명주소관리번호': '11110101310001200009400000',
#   '도로명주소1': '서울특별시 종로구 자하문로 94 (청운동)',
#   '도로명주소2': '서울특별시 종로구 자하문로 94',
#   'PNU': None},
# ...

[{'도로명주소관리번호': '36110101200000200181100000',
  '도로명주소1': '세종특별자치시 한누리대로 1811 (반곡동)',
  '도로명주소2': '세종특별자치시 한누리대로 1811',
  'PNU': None},
 {'도로명주소관리번호': '36110101200000200182000000',
  '도로명주소1': '세종특별자치시 한누리대로 1820 (반곡동)',
  '도로명주소2': '세종특별자치시 한누리대로 1820',
  'PNU': None},
 {'도로명주소관리번호': '36110101200000200182100000',
  '도로명주소1': '세종특별자치시 한누리대로 1821 (반곡동)',
  '도로명주소2': '세종특별자치시 한누리대로 1821',
  'PNU': None},
 {'도로명주소관리번호': '36110101200000200182400000',
  '도로명주소1': '세종특별자치시 한누리대로 1824 (반곡동)',
  '도로명주소2': '세종특별자치시 한누리대로 1824',
  'PNU': None},
 {'도로명주소관리번호': '36110101200000200182800000',
  '도로명주소1': '세종특별자치시 한누리대로 1828 (반곡동)',
  '도로명주소2': '세종특별자치시 한누리대로 1828',
  'PNU': None},
 {'도로명주소관리번호': '36110101200000200183400000',
  '도로명주소1': '세종특별자치시 한누리대로 1834 (반곡동)',
  '도로명주소2': '세종특별자치시 한누리대로 1834',
  'PNU': None},
 {'도로명주소관리번호': '36110101200000200183900000',
  '도로명주소1': '세종특별자치시 한누리대로 1839 (반곡동)',
  '도로명주소2': '세종특별자치시 한누리대로 1839',
  'PNU': None},
 {'도로명주소관리번호': '36110101200000200184400000',
  '도로명주소1': '세종특별자치시 한누리대로 1844 (반곡동)',
  '도로명주소2': '세종특별자치시 한누리대로 1844',
  'PNU': None},
 {'도로명주소관리번호': '36110101200000200186400000',
  '도로명주소1': '세종특별자치시 한누리대로 1864 (반곡동)',
  '도로명주소2': '세종특별자치시 한누리대로 1864',
  'PNU': None},
 {'도로명주소관리번호': '36110101200000200193400000',
  '도로명주소1': '세종특별자치시 한누리대로 1934 (반곡동)',
  '도로명주소2': '세종특별자치시 한누리대로 1934',
  'PNU': None}]

In [85]:
from sqlalchemy import create_engine
import pandas as pd

sql = '''
SELECT A.`도로명주소관리번호`, COUNT(DISTINCT B.PNU) AS PNU_COUNT
FROM full_rna_addr A
LEFT JOIN rnaddrkor_jibun B ON A.`도로명주소관리번호` = B.`도로명주소관리번호`
GROUP BY A.`도로명주소관리번호`
ORDER BY PNU_COUNT DESC
LIMIT 10;
'''

engine = create_engine("mysql+pymysql://root:root@localhost:3306/address?charset=utf8", echo=True)

conn = engine.connect()
df1 = pd.read_sql(sql, con=conn)
conn.close()

2024-05-29 00:35:21,511 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-05-29 00:35:21,514 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-29 00:35:21,533 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-05-29 00:35:21,534 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-29 00:35:21,541 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-05-29 00:35:21,543 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-29 00:35:21,549 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-29 00:35:21,551 INFO sqlalchemy.engine.Engine DESCRIBE `address`.`
SELECT A.``도로명주소관리번호``, COUNT(DISTINCT B.PNU) AS PNU_COUNT
FROM full_rna_addr A
LEFT JOIN rnaddrkor_jibun B ON A.``도로명주소관리번호`` = B.``도로명주소관리번호``
GROUP BY A.``도로명주소관리번호``
ORDER BY PNU_COUNT DESC
LIMIT 10;
`
2024-05-29 00:35:21,555 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-29 00:35:21,566 INFO sqlalchemy.engine.Engine
SELECT A.`도로명주소관리번호`, COUNT(DISTINCT B.PNU) AS PNU_COUNT
FROM full_rna_addr A
LEFT JOIN rnaddrkor_jibun B ON A.`도로명주소관리번호` = B.`도로명주소관리번호`
GROUP BY A.`도로명주소관리번호`
ORDER BY PNU_COUNT DESC
LIMIT 10;

2024-05-29 00:35:21,568 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-29 00:35:21,922 INFO sqlalchemy.engine.Engine ROLLBACK

In [91]:
rna_addr_list = df1['도로명주소관리번호'].tolist()

sql = f'''
SELECT * FROM full_rna_addr WHERE `도로명주소관리번호` IN {str(rna_addr_list).replace('[','(').replace(']',')')}
'''

engine = create_engine("mysql+pymysql://root:root@localhost:3306/address?charset=utf8", echo=True)

conn = engine.connect()
df2 = pd.read_sql(sql, con=conn)
conn.close()

2024-05-29 00:36:40,254 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-05-29 00:36:40,259 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-29 00:36:40,265 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-05-29 00:36:40,267 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-29 00:36:40,271 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-05-29 00:36:40,273 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-29 00:36:40,280 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-29 00:36:40,282 INFO sqlalchemy.engine.Engine DESCRIBE `address`.`
SELECT * FROM full_rna_addr WHERE ``도로명주소관리번호`` IN ('36110101200000200181100000', '36110101200000200182000000', '36110101200000200182100000', '36110101200000200182400000', '36110101200000200182800000', '36110101200000200183400000', '36110101200000200183900000', '36110101200000200184400000', '36110101200000200186400000', '36110101200000200193400000')
`
2024-05-29 00:36:40,288 INFO sqlalchemy.engine.Engine [raw sql] {}

2024-05-29 00:36:40,293 INFO sqlalchemy.engine.Engine
SELECT * FROM full_rna_addr WHERE `도로명주소관리번호` IN ('36110101200000200181100000', '36110101200000200182000000', '36110101200000200182100000', '36110101200000200182400000', '36110101200000200182800000', '36110101200000200183400000', '36110101200000200183900000', '36110101200000200184400000', '36110101200000200186400000', '36110101200000200193400000')

2024-05-29 00:36:40,295 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-29 00:36:40,416 INFO sqlalchemy.engine.Engine ROLLBACK