In [ ]:
print(1,2,3)

1 2 3

In [ ]:
print([1,2,3])

[1, 2, 3]

In [ ]:
print("Hello World")

Hello World

In [ ]:
print("Hello", "World", "!")

Hello World !

In [ ]:
a=1
b=1
a+b

2

In [ ]:
name="고다람"
print(name)

고다람

In [ ]:
print('이건 한 줄 주석입니다')
#이건 실행이 될까요?

이건 한 줄 주석입니다

In [ ]:
print('이건 여러 줄 주석입니다.')
'''
이건 실행이 될까요?
'''

이건 여러 줄 주석입니다.

'\n이건 실행이 될까요?\n'

In [ ]:
print('이건 여러 줄 주석입니다.')
'''
이건 실행이 될까요?
'''
print('이제 여러 줄 주석은 실행되지 않습니다')

이건 여러 줄 주석입니다.
이제 여러 줄 주석은 실행되지 않습니다

In [ ]:
# 여러 줄 주석만들기
# 어렵지
# # 않아요!

챕터2

In [ ]:
#수를 2로 나눴을 때 나머지가 0이면 짝수, 1이면 홀수
print(17%2)

1

In [ ]:
num='168.7'
print(float('168.7'))

168.7

In [ ]:
a='코사다마'
print(a[::-1])

마다사코

In [ ]:
phone_num='010-1234-1234'
print(phone_num.replace('-',' '))

010 1234 1234

In [ ]:
studentID='20221234'
name='고다람'

print('입학연도: {0} / 이름: {1} / 학번: {2}'.format(studentID[:4], name, studentID))

입학연도: 2022 / 이름: 고다람 / 학번: 20221234

In [ ]:
import math

radius=3.5
area=math.pi*radius**2
print(area)

38.48451000647496

챕터3

In [ ]:
print('당신의 생년, 월, 일을 차례로 입력하세요')
year=int(input('생년?'))
month=int(input('월?'))
daylight=int(input('일?'))
print('당신은', year,'년',month,'월',daylight,'일에 태어났습니다.')

당신의 생년, 월, 일을 차례로 입력하세요
생년?2004
월?3
일?5
당신은 2004 년 3 월 5 일에 태어났습니다.

챕터4

In [ ]:
beyonce = [0, 100, 100]
hero = [70, 30, 0]
won0 = [100, 70, 80]
beyonce.append((beyonce[0]+beyonce[1]+beyonce[2])/3)
hero.append((hero[0]+hero[1]+hero[2])/3)
won0.append((won0[0]+won0[1]+won0[2])/3)
print(beyonce[3] , hero[3] ,  won0[3])

66.66666666666667 33.333333333333336 83.33333333333333

In [ ]:
number = [10, 1, 3, 4, 25, 7, 61, 8, 99, 100]
number.sort()
print(number[0], number[-1])

1 100