In [12]:
#코사다마 교안 1장 실습

In [2]:
import datetime
print(datetime.datetime.now())

2024-05-09 11:26:26.174141

In [3]:
print(1,2,3)

1 2 3

In [4]:
print([1,2,3])

[1, 2, 3]

In [5]:
print("Hello World!")

Hello World!

In [6]:
print("Hello", "World", "!")

Hello World !

In [7]:
a=1
b=1
a+b

2

In [11]:
name="고다람"
print(name)

고다람

In [9]:
print('이건 한 줄 주석입니다.')
# 이건 실행이 될까요?

이건 한 줄 주석입니다.

In [10]:
print('이건 여러 줄 주석입니다.')
'''이건 실행이 될까요?'''

이건 여러 줄 주석입니다.

'이건 실행이 될까요?'

In [11]:
print('이건 여러 줄 주석입니다.')
'''이건 실행이 될까요?'''
print('이제 여러 줄 주석은 실행되지 않습니다.')

이건 여러 줄 주석입니다.
이제 여러 줄 주석은 실행되지 않습니다.

In [13]:
#코사다마 교안 2장 실습

In [16]:
float(314)

314.0

In [17]:
int(3.14)

3

In [18]:
# 반올림
round(3.14)

3

In [20]:
from math import *
#올림
ceil(3.14)

4

In [27]:
#내림
floor(3.14)

3

In [22]:
2000%30//8

2

In [24]:
d=79%7
print('목요일의', d, '일 뒤인 토요일이다.')

목요일의 2 일 뒤인 토요일이다.

In [23]:
p=500*7+5000/3*2+1000
print('총', p, '원을 지불해야 한다.')

총 7833.333333333334 원을 지불해야 한다.

In [25]:
a = 123
type(a)

int

In [26]:
str(a)

'123'

In [28]:
type(str(a))

str

In [29]:
a = 'Hello'
b = 'World'
c = '!'
print(a + b + c)

HelloWorld!

In [31]:
print(a + ' ' + b + c)

Hello World!

In [32]:
a = 'Hello'
print(a * 2)

HelloHello

In [2]:
print(' '* 100)

In [6]:
a = '코사다마'
print(a[0])
print(a[1])
print(a[2])
print(a[3])

코
사
다
마

In [7]:
a = '코사다마'
print(a[0])
print(a[-3])
print(a[-2])
print(a[-1])

코
사
다
마

In [9]:
b = '코사다마와 함께하는 즐거운 파이썬 공부!'
len(b)

22

In [10]:
a = '코딩을 사랑하는 다람쥐와 마요네즈'
print(a[1:4])
print(a[:5])
print(a[3:])
print(a[:])
print(a[-5:-1])

딩을
코딩을 사
 사랑하는 다람쥐와 마요네즈
코딩을 사랑하는 다람쥐와 마요네즈
 마요네

In [12]:
a = '고다람은 2020-01-13에 코사다마에서 태어났습니다.'
생년월일 = a[5:15]
태어난곳 = a[17:21]
print(생년월일)
print(태어난곳)

2020-01-13
코사다마

In [13]:
print('%s'%'car')
print('%s'%'apple')
print('%10s'%'car')
print('%10s'%'apple')
print('%-10s'%'car')
print('%-10s'%'apple')

car
apple
       car
     apple
car
apple

In [15]:
a = ' Studying Python is fun! '
b = a.split(' ')
print(b)

['', 'Studying', 'Python', 'is', 'fun!', '']

In [16]:
#1
#2로 나누었을 때 나머지가 1이면 홀수, 0이면 짝수
print(17%2)

1

In [17]:
#2
num = '168.7'
print(float(num))

168.7

In [20]:
#3
a = '코사다마'
print(a[::-1])

마다사코

In [18]:
#4 
phone_num = '010-1234-1234'
phone_num.replace('-', '')

'01012341234'

In [19]:
#5
studentID = '20221234'
name = '고다람'
print('입학연도: {0} / 이름: {1} / 학번: {2}'.format(studentID[:4], name, studentID))

입학연도: 2022 / 이름: 고다람 / 학번: 20221234

In [ ]:
#코사다마 교안 3장 실습

In [2]:
#1
import math

radius = 3.5
area = math.pi*radius**2
print(area)

38.48451000647496

In [4]:
#2
print('생년, 월, 일을 차례로 입력하세요.')
생년 = input('생년?')
월 = input('월?')
일 = input('일?')
print('당신은 {0}년 {1}월 {2}일에 태어났습니다.'.format(생년, 월, 일))

생년, 월, 일을 차례로 입력하세요.

In [ ]:
#코사다마 교안 4장 실습

In [2]:
a = [1, 2, 3, 4, 5]
a[2:3] = ['b', 'c']
print(a)

[1, 2, 'b', 'c', 4, 5]

In [3]:
a = [1, 2, 3, 4, 5]
a[2] = ['b', 'c']
print(a)

[1, 2, ['b', 'c'], 4, 5]

In [2]:
#1
비욘세 = [0, 100, 100]
임영웅 = [70, 30, 0]
장원영 = [100, 70, 80]
비욘세.append((비욘세[0] + 비욘세[1] + 비욘세[2])/3)
임영웅.append((임영웅[0] + 임영웅[1] + 임영웅[2])/3)
장원영.append((장원영[0] + 장원영[1] + 장원영[2])/3)
print((비욘세[3] + 임영웅[3] + 장원영[3])/3)

61.11111111111111

In [3]:
#2
number = [11, 23, 72, 3, 502, 17, 34, 2, 96, 65]
number.sort()
print(number[-1], number[0])

502 2