In [ ]:
print(1,2,3)

print([1,2,3])

print("Hello World!")

print("Hello","world","!")

a=1
b=1
a+b
print(a+b)

print("홍서연")

print('이건 한 줄 주석입니다.')
# 이건 실행이 될까요?

print('이건 여러 줄 주석입니다.')
'''
이건 실행이 될까요?
'''
print('이건 여러 줄 주석입니다.')
'''
이건 실행이 될까요?
'''
print('이제 여러 줄 주석은 실행되지 않습니다.')

# print(1,2,3)

# print([1,2,3])

# print("Hello World!")

# print("Hello","world","!")

1 2 3
[1, 2, 3]
Hello World!
Hello world !
2
홍서연
이건 한 줄 주석입니다.
이건 여러 줄 주석입니다.
이건 여러 줄 주석입니다.
이제 여러 줄 주석은 실행되지 않습니다.

In [ ]:
print(17%2)

num = '168.7'
print(float(num))
print(type(float(num)))

a = '코사다마'
print(a[::-1])

phone_num = '010-4913-9736'
print(phone_num.replace('-', ''))

studentID = '20226772'
name = '홍서연'
print('입학연도: {0} / 이름: {1} / 학번: {2}'. format(studentID[:4], name, studentID))

1
168.7
<class 'float'>
마다사코
01049139736
입학연도: 2022 / 이름: 홍서연 / 학번: 20226772

In [1]:
print("당신의 생년,월,일을 차례로 입력하세요")
year=int(input('2002')) # 정수형으로 바꾸기 위해 int 함수 사용
month=int(input('02'))
day=int(input('01'))
print('당신은',year,'년',month,'월',day,'일에 태어났습니다.')

당신의 생년,월,일을 차례로 입력하세요
당신은 2002 년 2 월 1 일에 태어났습니다.

In [2]:
비욘세 = [0, 100, 100]
임영웅 = [70, 30, 0]
장원영 = [100, 70, 80]
비욘세.append((비욘세[0]+비욘세[1]+비욘세[2])/3)
임영웅.append((임영웅[0]+임영웅[1]+임영웅[2])/3)
장원영.append((장원영[0]+장원영[1]+장원영[2])/3)
print((비욘세[3] + 임영웅[3] + 장원영[3])/3)

61.11111111111111

In [3]:
number = [10, 2, 3, 4, 5, 7, 6, 8, 9, 100]
number.sort() 
print(number[0], number[-1])

2 100