In [1]:
print(1,2,3)
print([1,2,3])
print("Hello World!")
print("Hello","World","!")

1 2 3
[1, 2, 3]
Hello World!
Hello World !

In [3]:
a=1
b=1
print(a+b)
name="고다림"
print(name)

2
고다림

In [6]:
print('이건 한 줄 주석입니다.')
# 이건 실행이 될까요?
# 아니요.

이건 한 줄 주석입니다.

In [6]:
print('이건 여러 줄 주석입니다.')
'''
이건 실행이 될까요?
'''

이건 여러 줄 주석입니다.

'\n이건 실행이 될까요?\n'

In [7]:
print('이건 여러 줄 주석입니다.')
'''
이건 실행이 될까요?
'''
print('이제 여러 줄 주석은 실행되지 않습니다.')
# 여러 줄 주석만들기
# 어렵지
# 않아요!

이건 여러 줄 주석입니다.
이제 여러 줄 주석은 실행되지 않습니다.

In [12]:
#2-1
print(17%2==0)
#2-2
num = '168.6'
float(num)
print(type(num))
#2-3
a= "코사다마"
print(a[-1])
print(a[-2])
print(a[-3])
print(a[0])

False
<class 'str'>
마
다
사
코

In [16]:
#2-4
phone_num = "010-1234-1234"
print(phone_num.replace('-',''))
#2-5
studentID = '20221234'
name = '고다람'
print("입학연도: {} / 이름: {} / 학번: {}".format(studentID[0:4],name,studentID))

01012341234
입학연도: 2022 / 이름: 고다람 / 학번: 20221234

In [18]:
#3-1
radius = 3.5
area = radius**2*3.14
print(area)
#3-2
print('생년, 월, 일을 차례로 입력하세요')
a = input("생년?")
b = input('월?')
c = input('일?')
print("당신은 {}년 {}월 {}일에 태어났습니다.".format(a,b,c))

38.465
생년, 월, 일을 차례로 입력하세요

In [3]:
#4-1
#이름[한국어 점수, 수학 점수, 영어 점수]
비욘세 = [0, 100, 100]
임영웅 = [70, 30, 0]
장원영 = [100, 70, 80]
비욘세.append((비욘세[0]+비욘세[1]+비욘세[2])/3)
임영웅.append((임영웅[0]+임영웅[1]+임영웅[2])/3)
장원영.append((장원영[0]+장원영[1]+장원영[2])/3)
print("국어, 수학, 영어 점수의 평균\n비욘세: {}\n임영웅: {}\n장원영: {}".format(비욘세[3], 임영웅[3], 장원영[3]))

국어, 수학, 영어 점수의 평균
비욘세: 66.66666666666667
임영웅: 33.333333333333336
장원영: 83.33333333333333

In [5]:
#4-2
number = [12,9,81,93,18,27,36,1,53,79]
number.sort()
print('가장 큰 수: {}\n가장 작은 수: {}'.format(number[0],number[9]))

가장 큰 수: 1
가장 작은 수: 93