In [ ]:
print(17%2)

In [ ]:
num = "168.7"
print(float(num))

In [ ]:
a = '코사다마'

In [ ]:
phone_num = 010-1234-1234
print(phone_num.replace('-',''))

In [ ]:
studentID = '20221234'
name = '고다람'

print('입학연도:{0} / 이름:{1} / 학번:{2}'.format(studentID[:4], name, studentID))

In [ ]:
#3-6 실습
import math
radius = 3.5
area = math.pi*radius**2
print(area)

In [ ]:
print("생년, 월, 일을 차례로 입력하세요.")
year = int(input("생년?"))
month = int(input("월?"))
day = int(input("일?"))
print("당신은 %d년 %d월 %d일에 태어났습니다."%(year, month, day))

In [ ]:
#4-5 실습
#Q1
beyonce = [0,100,100]
임영웅 = [70,30,0]
장원영 = [100,70,80]

beyonce.append(200/3)
임영웅.append(100/3)
장원영.append(250/3)

print(beyonce[3]+임영웅[3]+장원영[3]/3)