In [1]:
print(1,2,3)
print([1,2,3])
print("Hello World!")
print("Hello", "World", "!")
a=1
b=1
a+b
name="고다람"
print(name)

1 2 3
[1, 2, 3]
Hello World!
Hello World !
고다람

In [6]:
print(17%2)
# 17을 2로 나누었을 때의 나머지를 확인
float(168.7)
int(168.7)

1

168

In [11]:
a = '코사다마'
print(a[::-1])

마다사코

In [12]:
phone_num = '010-1234-1234'
print(phone_num.replace('-',''))

01012341234

In [14]:
studentID = '20221234'
name = '고다람'
print('입학연도: {0} / 이름: {1} / 학번: {2}'.format(studentID[0:4], name, studentID))

입학연도: 2022 / 이름: 고다람 / 학번: 20221234

In [22]:
radius=3.5
area=radius**2*3.14
print(area)

38.465

In [26]:
print('생년, 월, 일을 차례로 입력하세요.')
year=int(input('생년?'))
month=int(input('월?'))
day=int(input('일?'))
print('당신은',year,'년',month,'월',day,'일에 태어났습니다.')

생년, 월, 일을 차례로 입력하세요.
생년?2004
월?7
일?4
당신은 2004 년 7 월 4 일에 태어났습니다.

In [30]:
a=[1,2,3,['이정윤', '조용주', '코사다마']]
a[3] #출력값은 ['이정윤', '조용주', '코사다마']
a[3][2]

'코사다마'

In [32]:
beyonce=[0,100,100]
hero=[70,30,0]
wonyoung=[100,70,80]

beyonce.append((beyonce[0]+beyonce[1]+beyonce[2])/3)
hero.append((hero[0]+hero[1]+hero[2])/3)
wonyoung.append((wonyoung[0]+wonyoung[1]+wonyoung[2])/3)

print((beyonce[3] + hero[3] + wonyoung[3])/3)

61.11111111111111

In [37]:
number=[2,3,6,84,5,7,9,1,65,45]
number.sort()
print(number[0], number[-1])

1 84