In [74]:
print(1,2,3)

1 2 3

In [75]:
print([1,2,3])

[1, 2, 3]

In [76]:
print("Hello World!")

Hello World!

In [77]:
a=1
b=1
a+b

2

In [78]:
name="유혜민"
print(name)

유혜민

In [79]:
print('이건 한 줄 주석입니다.')
#이건 실행이 될까요?

이건 한 줄 주석입니다.

In [80]:
# print('이건 여러 줄 주석입니다.')
# '''
# 이건 실행이 될까요?
# '''
# # print('이제 여러 줄 주석은 실행되지 않습니다.')

In [81]:
#정수->실수
float(314)

314.0

In [82]:
#실수->정수
int(3.14)

3

In [83]:
round(3.14) #반올림

3

In [84]:
from math import *
print (ceil(3.14)) #올림
print (floor(3.14)) #내림

4
3

In [85]:
#2000을 30으로 나눈 나머지를 8로 나눈 몫을 구하세요.
2000%30//8

2

In [86]:
#오늘은 목요일 입니다. 79일 뒤는 몇 요일 일까요?
79%7
#정답: 토요일

2

In [87]:
#500원짜리 사탕 7개, 3개에 5000원인 과자 2개, 1+1인 1000원짜리 아이스림 2개를 사면 총 얼마를 지불해야 할까요?
500*7 + 5000/3*2 + 1000

7833.333333333334

In [88]:
a = 'Hello World!'
type(a)

str

In [89]:
a = 123
type(a)

int

In [90]:
str(a)

'123'

In [91]:
type(str(a))

str

In [92]:
a = 'Hello'
b = 'World'
c = '!'
print(a + b + c)
print(a + ' ' + b + c)

HelloWorld!
Hello World!

In [93]:
a = 'Hello'
print(a * 2)

HelloHello

In [94]:
print(' ' * 100)

In [95]:
a = '코사다마'
print (a[0]) 
print (a[1])
print (a[2]) 
print (a[3])

코
사
다
마

In [96]:
a = '코사다마'
print (a[0]) 
print (a[-3])
print (a[-2]) 
print (a[-1])

코
사
다
마

In [97]:
b = '코사다마와 함께하는 즐거운 파이썬 공부!'
len(b)

22

In [98]:
a = '코딩을 사랑하는 다람쥐와 마요네즈'
print (a[1:4])
print (a[:5])
print (a[3:])
print (a[:])
print (a[-5:-1])

딩을
코딩을 사
 사랑하는 다람쥐와 마요네즈
코딩을 사랑하는 다람쥐와 마요네즈
 마요네

In [99]:
a = '고다람은 2020-01-13에 코사다마에서 태어났습니다.'
print (a[5:15])
print (a[17:21])

2020-01-13
코사다마

In [100]:
'오늘은 1월 %d일 입니다.'%15

'오늘은 1월 15일 입니다.'

In [101]:
'%s의 키는 %dcm 이고 혈액형은 %s형 입니다.'%('유혜민', 170, 'ab')

'유혜민의 키는 170cm 이고 혈액형은 ab형 입니다.'

In [102]:
print ('%.2f'%2.3)
print ('%0.2f'%2.3)
print ('%.2f'%2.34567)
print ('%6.1f'%232.34567)

2.30
2.30
2.35
 232.3

In [103]:
print('%s'%'car')
print('%s'%'apple')
print('%10s'%'car')
print('%10s'%'apple')
print('%-10s'%'car')
print('%-10s'%'apple')

car
apple
       car
     apple
car
apple

In [104]:
print ('오늘은 {0}월 {1}일 입니다.'.format(4,16))
'{0}의 키는 {1}cm이고 혈액형은 {2}형 입니다.'.format('유혜민', 170, 'ab')

오늘은 4월 16일 입니다.

'유혜민의 키는 170cm이고 혈액형은 ab형 입니다.'

In [105]:
'오늘은 {month}월 {date}일 입니다.'.format(month=1, date=15)

'오늘은 1월 15일 입니다.'

In [106]:
a = ' Hyemin is nice! '
print (a.count('i'))
print (a.find('s'))
print (a.index('s'))
print (len(a))
print (a.upper())
print (a.lower())
print (a.lstrip())
print (a.rstrip())
print (a.strip())
print (a.replace('Hyemin', 'Sakuya'))
print (a.split(' '))
print (",".join(a))

3
9
9
17
 HYEMIN IS NICE!
 hyemin is nice!
Hyemin is nice!
 Hyemin is nice!
Hyemin is nice!
 Sakuya is nice!
['', 'Hyemin', 'is', 'nice!', '']
 ,H,y,e,m,i,n, ,i,s, ,n,i,c,e,!,

In [107]:
a = ' Hyemin is nice'
b = a.split(' ')
print (''.join(b))
print (' '.join(b))

Hyeminisnice
 Hyemin is nice

In [108]:
print('Hello\nWorld!')

Hello
World!

In [109]:
print('Hello\tworld!')

Hello	world!

In [110]:
print( 'Helloc\\World!')

Helloc\World!

In [111]:
print('hello\\world!')

hello\world!

In [112]:
a = True
b = False
type(a)
type(b)

bool

In [113]:
a = 10
b = 100
a < b

True

In [114]:
print((100 < 10) or (40 >= 4))
print((100 < 10) and (40 >= 4))
print(not(100 < 10))

True
False
True

In [115]:
# 1. 17이 홀수 인지 짝수인지 판별해보세요. = 홀수임.
17%2

1

In [116]:
# 2. 문자열의 자료형->실수
'%.0f'%168.7

'169'

In [117]:
# 3. 아래 문자열을 거꾸로 출력해보세요.
a = '코사다마'
print (a[::-1])

마다사코

In [118]:
# 4. 아래 문자열을 거꾸로 출력해보세요.
phone_num = '010-1234-5678'
print (phone_num.replace('-', ''))

01012345678

In [119]:
# 5. 다음 변수를 활용하여 아래와 같은 결과가 나오게 출력해보세요
studentID = '20240305'
name = '유혜민'
print ('입학연도: {0} / 이름: {1} / 학번: {2}'.format(studentID[:4], name, studentID))

입학연도: 2024 / 이름: 유혜민 / 학번: 20240305

In [120]:
print('입학연도: {0} \n이름: {1} \n학번: {2}'.format(studentID[:4], name, studentID))

입학연도: 2024
이름: 유혜민
학번: 20240305

In [121]:
score=100
score=90.23
score='90점'

In [122]:
score=100 #정수형  
score=score+0.03 #정수형->실수형
a_score=90 #정수형 
b_score=80.5 #실수형

In [123]:
score=100
mean=score/3
a,b=1,2
c=d=e=3

In [127]:
a = 6
a += 1
a -= 1
a *= 2
a /= 3
a %= 3

In [130]:
# 1. 반지름의 값이 3.5인 원이 있습니다. 반지름의 값을 radius라는 변수에 넣으세요. area라는 변수는 원의 면적을 의미합니다. 변수 area의 값을 radius 변수를 이용해 식으로 할당하고, 그 값을 숫자로 출력하세요.
import math
radius = 3.5
area = 3.14 * radius**2
print (area)

38.465

In [131]:
# 2. 사용자로부터 생년월일을 입력받아 다음을 출력하는 프로그램을 작성하세요.
print ("생년, 월, 일을 차례로 입력하세요.")
year = int(input('생년?'))
month = int(input('월?'))
day = int(input('일?'))
print ('당신은', year, '년', month, '월', day, '일에 태어났습니다.')
print ('생년월일을 핮하면', year + month + day, '입니다.')

생년, 월, 일을 차례로 입력하세요.
당신은 2004 년 11 월 24 일에 태어났습니다.
생년월일을 핮하면 2039 입니다.

In [132]:
[1, 2, 3, 4, 5]
a = [1, 2, 3, 4, 5]
a = [[1, 2, 3, 4, 5], 'Hello']

In [135]:
a = [1, 2, 3, 4, 5]
a[0]
a[0]+a[4]

6

In [139]:
a=[1, 2, 3, ['유혜민', '코사다마', '문정과']]
a[3]
a[3][1] #퀴즈

'코사다마'

In [141]:
a=[1, 2, 3, 4, 5]
a=[]

In [148]:
a=[1, 2, 3, 4, 5]
print (a[1:4])
print (a[:3])
print (a[2:3])
print (a[2])
print (a[:-3])
print (a[-3:])
print (a[-3:-1])
a=[1, 2, 3, 4, 5, 6, 7, 8, 9]
a[1:8:2]

[2, 3, 4]
[1, 2, 3]
[3]
3
[1, 2]
[3, 4, 5]
[3, 4]

[2, 4, 6, 8]

In [149]:
a=[1, 2, 3, 4, 5]
b=[6, 7, 8]
a+b

[1, 2, 3, 4, 5, 6, 7, 8]

In [150]:
b=[6, 7, 8]
b*3

[6, 7, 8, 6, 7, 8, 6, 7, 8]

In [154]:
a=[1, 2, 3, 4, 5]
a[2]=5
a[2:3]=['b','c']
print (a) # 퀴즈1: [1, 2, 'b', 'c', 4, 5]
a=[1, 2, 3, 4, 5]
a[2]=['b','c'] 
print (a) # 퀴즈2: [1, 2, ['b', 'c'], 4, 5]

[1, 2, 'b', 'c', 4, 5]
[1, 2, ['b', 'c'], 4, 5]

In [158]:
a=[1, 2, 3, 4, 5]
a[2:4]=[]
print (a)
a=[1, 2, 3, 4, 5]
del a[2:4]
del a[0]
print (a)

[1, 2, 5]
[2, 5]

In [160]:
a=[1, 2, 3, 4, 5]
a.append(6)
a.append("hyemin")
a.append([7,8])
a.append(7)
print (a)

[1, 2, 3, 4, 5, 6, 'hyemin', [7, 8], 7]

In [163]:
a=[5, 2, 3, 1, 4]
a.sort()
print (a)
b=['혜민', '채연', '수정', '엥']
b.sort()
print (b)

[1, 2, 3, 4, 5]
['수정', '엥', '채연', '혜민']

In [165]:
a=[1, 2, 3, 4, 5]
a.reverse()
print (a)

[5, 4, 3, 2, 1]

In [167]:
a=[1, 2, 3, 4, 5]
a.sort(reverse=True)
print (a)

[5, 4, 3, 2, 1]

In [168]:
a=[1,2,3,4,5,6,7,8,9]
len(a)

9

In [170]:
a=[1,2,3,4,5,3,6,7]
print (a.index(3))
print (a.index(3,3,7))
print (a.index(3,3))

2
5
5

In [172]:
a=[1,2,3,4]
a.insert(3,4)
print (a)

[1, 2, 3, 4, 4]

In [173]:
a=[1,2,3,4,5,2]
a.remove(2)
print(a)

[1, 3, 4, 5, 2]

In [175]:
a=[1,2,3,4,5,2]
a.count(2)

2

In [176]:
B_score=[0,100,100]
I_score=[70,30,0]
J_score=[100,70,80]
B_score.append((0 + 100 + 100) / 3)
I_score.append((70 + 30 + 0) / 3)
J_score.append((100 + 70 + 80) / 3)
print ((B_score[3] + I_score[3] + J_score[3]) / 3)

61.11111111111111

In [180]:
number = [1,11,18,5,22,2,3,4,7,8]
number.sort()
print (number[0], number[9])

1 22