1주차 실습 - 1

In [1]:
print(1,2,3)

1 2 3

In [2]:
print([1,2,3])

[1, 2, 3]

In [3]:
print("Hello World")

Hello World

In [4]:
print("Hello", "World", "!")

Hello World !

In [5]:
a=1
b=1
a+b

2

In [6]:
name="고다람"
print(name)

고다람

In [7]:
print('이건 한 줄 주석입니다.')
#이건 실행이 될까요?

이건 한 줄 주석입니다.

In [8]:
print('이건 여러 줄 주석입니다.')
'''
이건 실행이 될까요?
'''
print('이제 여러 줄 주석은 실행되지 않습니다.')

이건 여러 줄 주석입니다.
이제 여러 줄 주석은 실행되지 않습니다.

In [9]:
# 여러 줄 주석만들기
# 어렵지
# 않아요1

1주차 실습 - 2

In [10]:
# 314 정수 -> 실수
float(314)

# 3.14 실수 -> 정수
int(3.14)

3

In [13]:
#반올림 (결과:3)
round(3.14)

from math import *
# 올림 (결과:4)
ceil(3.14)
# 내림 (결과:3)
floor(3.14)

3

In [15]:
# 2000을 30으로 나눈 나머지를 8로 나눈 몫을 구하세요.
remainder = 2000 % 30

quotient = remainder // 8

print(quotient)

2

In [17]:
#오늘은 목요일 입니다. 79일 뒤는 몇 요일 일까요?
79 % 7

print("토요일")

토요일

In [18]:
# 500원짜리 사탕 7개, 3개에 5000원인 과자 2개, 1+1인 1000원짜리 아이스크림 2개를 사면 총 얼마를 지불해야 할까요?
candy = 500 * 7
snack = 5000 / 3 * 2
icecream = 1000

candy + snack + icecream

7833.333333333334

In [19]:
a = 123
type(a)

int

In [20]:
str(a)

'123'

In [21]:
type(str(a))

str

In [22]:
a= 'Hello'
b = 'World'
c = '!'
print (a + b + c )

HelloWorld!

In [23]:
print(a + '' + b + c)

HelloWorld!

In [24]:
a = '코딩을 사랑하는 다람쥐와 마요네즈'
a[1:4] #결과: a문자열의 1번부터 3번까지
a[:5] #결과 : a문자열의 0번부터 4번까지
a[3:] #결과: a문자열의 3번부터 끝까지
a[:] #결과: a문자열 전체 다
a[-5:-1] #결과:a문자열의 -5번부터 -2까지

' 마요네'

In [26]:
# 17이 홀수인지 짝수인지 판별해보세요.
print(17%2)

1

In [27]:
# 아래 문자열의 자료형을 실수로 바꿔서 출력해보세요.
num = '168.7'
print(float(num))
print(type(float(num)))

168.7
<class 'float'>

In [30]:
# 아래 문자열을 거꾸로 출력해보세요.
a = '코사다마'
print(a[::-1])

마다사코

In [34]:
# 아래 문자열에서 - 을 제거하여 출력해보세요.
phone_num = '010-1234-1234'

print(phone_num.replace('-',''))

01012341234

In [35]:
# 다음 변수를 활용하여 아래와 같은 결과가 나오게 출력해보세요.

# 입학연도: 2022 / 이름: 고다람 / 학번: 20221234

studentID = '20221234'
name = '고다람'
print('입학연도: {0} / 이름: {1} / 학번: {2}'.format(studentID[:4], name, studentID ))

입학연도: 2022 / 이름: 고다람 / 학번: 20221234

1주차 실습 - 3

In [37]:
a = 6
a += 1 # a = 7
a -= 1 # a = 5
a *= 2 # a = 12
a /= 3 # a = 2
a %= 3 # a = 0

In [38]:
# 반지름의 값이 3.5인 원이 있습니다. 반지름의 값을 radius라는 변수에 넣으세요. area라는 변수는 원의 면적을 의미합니다. 변수 area의 값을 radius 변수를 이용해 식으로 할당하고, 그 값을 숫자로 출력하세요.

import math

radius = 3.5
area = math.pi*radius**2
print(area)

38.48451000647496

In [39]:
# 사용자로부터 생년월일을 입력받아 다음을 출력하는 프로그램을 작성하세요.

# 생년, 월, 일을 차례로 입력하세요.
# 생년?
# 월?
# 일?
# 당신은 XXXX년 X월 X일에 태어났습니다.

print("당신의 생년, 월, 일을 차례로 입력하세요.")
year=int(input('생년?'))
month=int(input('월?'))
day=int(input('일?'))
print('당신은',year,'년',month,'월',day,'일에 태어났습니다.')
print('생년월일을 합하면', year+month+day, "입니다.")

당신의 생년, 월, 일을 차례로 입력하세요.
생년?1999
월?1
일?10
당신은 1999 년 1 월 10 일에 태어났습니다.
생년월일을 합하면 2010 입니다.

1주차 실습 - 4

In [40]:
a=[1,2,3,4,5]
a[2]=5
a[2:3]=['b','c']
a[2]=['b','c']

In [43]:
#1
a = [1, 2, 'b', 'c', 4, 5]

In [44]:
#2
a =[1, 2, ['b', 'c'], 4, 5]

In [47]:
#비욘세의 한국어 점수는 0점, 수학 점수는 100점, 영어 점수는 100점입니다. 임영웅의 한국어 점수는 70점, 수학 점수는 30점, 영어 점수는 0점입니다. 장원영의 한국어 점수는 100점, 수학 점수는 70점, 영어 점수는 80점입니다. 세 학생의 점수들을 담은 리스트를 만들고, 각 학생의 국어, 수학, 영어 점수의 평균을 네번째 데이터로 리스트에 넣으세요. 세 학생의 국어, 수학, 영어 점수의 평균을 print() 함수를 통해 출력하세요.

beyonce = [0, 100, 100]
youngwoong = [70, 30, 0]
wonyoung = [100, 70, 80]

beyonce.append((beyonce[0]+beyonce[1]+beyonce[2])/3)
youngwoong.append(youngwoong[0]+youngwoong[1]+youngwoong[2]/3)
wonyoung.append((wonyoung[0]+wonyoung[1]+wonyoung[2])/3)

print(beyonce[3]+youngwoong[3]+wonyoung[3]/3)

194.44444444444446

In [48]:
#number라는 변수에 임의의 숫자 10개를 넣으세요. 그 중 가장 큰 수와 가장 작은 수를 print() 함수를 통해 출력하세요.

number = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
number.sort()
print(number[0], number[-1])

1 10