In [ ]:
score = 3.5
if score > 4.0:
    print('학점: A+')
elif  3.5 < score <= 4.0:
    print('학점: A')
elif  3 < score <= 3.5:
    print('학점: B+')
else:
    print('None')

학점: B+

In [ ]:
score = 3.5
if score > 4.0:
    print('학점: A+')
elif  (score <= 4.0) and (score > 3.5):
    print('학점: A')
elif  (score <= 3.5) and (score > 3.0):
    print('학점: B+')
else:
    print('None')

학점: B+

In [ ]:
a = [1, 2, 3]
if 1 in a:
    print('1은 a에 포함함')
else:
    print('1은 a에 포함하지 않음')

1은 a에 포함함

In [ ]:
a = [1, 2, 3]
if 1 not in a:
    pass
else:
    print('1은 a에 포함함')

1은 a에 포함함

In [ ]:
fruits = ['apple', 'banana', 'orange']
for fruit in fruits:
    print(fruit)

apple
banana
orange

In [ ]:
fruits  = ("apple",  "banana",  "orange")
for fruit in fruits:
    print(fruit)

apple
banana
orange

In [ ]:
ex = "파이썬 공부는 재밌다!"
for i in ex:
    print(i)

파
이
썬

공
부
는

재
밌
다
!

In [ ]:
for a in  range(1,  10):
    for b in  range(1,  10):
        print('%d * %d = %d'%(a, b, a * b))
    print('===%d단 끝!==='%(a))
print('구구단 1단 부터 9단까지 끝!')

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
===1단 끝!===
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
===2단 끝!===
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
===3단 끝!===
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
===4단 끝!===
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
===5단 끝!===
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
===6단 끝!===
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
===7단 끝!===
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
===8단 끝!===
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
===9단 끝!===
구구단 1단 부터 9단까지 끝!

In [ ]:
n = 30
while n <= 30:
  n -= 1
  print(n)
  if n % 5 ==0:
    break

29
28
27
26
25

In [ ]:
sum = 0
for i in range(2, 101, 2):
  sum += i
print(sum)

2550

In [ ]:
fruits = ['사과', '오렌지', '파인애플', '귤', '천도복숭아', '리치', '코코넛', '샤인머스켓', '드래곤후르츠', '한라봉', '감']
name_len=[]
for i in fruits:
  a = len(i)
  name_len.append(a)
index_num = name_len.index(max(name_len))
print('{0}: {1}글자'.format(fruits[index_num], max(name_len)))

드래곤후르츠: 6글자

In [ ]:
num = 0
while num <= 8:
  num += 1
  num2 = 1
  while num2 <=9:
    print('%d * %d = %d'%(num, num2, num * num2))
    num2 += 1
  print('===%d단 끝~==='%(num))
print('구구단 완전 끝~~')

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
===1단 끝~===
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
===2단 끝~===
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
===3단 끝~===
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
===4단 끝~===
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
===5단 끝~===
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
===6단 끝~===
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
===7단 끝~===
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
===8단 끝~===
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
===9단 끝~===
구구단 완전 끝~~

In [ ]:
박수 = ['3', '6', '9']
for i in range(1, 51):
  count = 0
  for j in str(i):
      if j in 박수:
          count += 1
  if count > 0:
      i = '짝!!' * count
  print(i)

1
2
짝!!
4
5
짝!!
7
8
짝!!
10
11
12
짝!!
14
15
짝!!
17
18
짝!!
20
21
22
짝!!
24
25
짝!!
27
28
짝!!
짝!!
짝!!
짝!!
짝!!짝!!
짝!!
짝!!
짝!!짝!!
짝!!
짝!!
짝!!짝!!
40
41
42
짝!!
44
45
짝!!
47
48
짝!!
50

In [ ]:
rank ={'beyonce': '1', '임영웅':'3', '장원영':'2'}
name_list = list(rank.keys())
name = input("이름은?")

while name:
  if name in name_list:
    print(name,"의 등수는 ",rank[name], sep='')

  elif name not in name_list:
    print(name,"는(은) 없어요",sep='')

  break

이름은?박채연
박채연는(은) 없어요

In [4]:
def print_dan(n):
	for i in range(1,10):
		print (n * i)

dan = int(input("원하는 숫자를 선택하세요!"))
print_dan(dan)

원하는 숫자를 선택하세요!22
22
44
66
88
110
132
154
176
198

In [7]:
import random
def lottery_generator(x):
	valist = list(range(1,46))
	lottery_nums = []
	for i in range(6):
		random.shuffle(valist)
		val  = random.choice(valist)
		lottery_nums.append(val)
	print("\n%s회 :" % x , end = " ")
	for i in lottery_nums:
		print(i,end = " ")
	return lottery_nums

def lottery_stat(x):
    results = {}
    for i in range(1,46):
        results[i] = 0
    for i in range(1, x+1):
        lottery_nums = lottery_generator(i)
        for i in lottery_nums:
            results[i] = results[i] + 1
    print("\n")
    for i in results.keys():
        print("%s : %d회" % (i,results[i]))
    return results

results = lottery_stat(30)
this_nums = sorted(results, key= lambda c :results[c], reverse=True)[:6]
print("이주의 로또 번호 :",end = " ")
for i in this_nums:
    print(i, end = " ")

1회 : 44 28 37 42 37 21
2회 : 25 42 15 43 34 20
3회 : 10 7 44 37 31 3
4회 : 4 6 39 32 42 11
5회 : 32 16 38 40 38 23
6회 : 9 23 35 31 29 6
7회 : 33 21 31 5 18 3
8회 : 1 26 20 2 8 26
9회 : 26 31 35 31 24 8
10회 : 34 10 3 37 39 22
11회 : 3 5 27 33 16 38
12회 : 13 45 33 6 30 40
13회 : 22 38 13 16 17 21
14회 : 19 42 36 14 5 3
15회 : 2 9 25 41 18 2
16회 : 28 40 24 37 31 33
17회 : 35 16 43 24 6 44
18회 : 27 11 16 43 7 43
19회 : 23 36 2 5 13 43
20회 : 31 34 30 36 12 11
21회 : 40 10 42 27 41 38
22회 : 45 6 34 12 13 2
23회 : 30 22 23 14 37 44
24회 : 14 15 4 22 1 30
25회 : 21 29 16 3 8 25
26회 : 14 23 4 36 36 37
27회 : 20 2 33 43 36 17
28회 : 7 2 30 8 16 44
29회 : 18 34 21 24 20 42
30회 : 43 2 25 25 36 24

1 : 2회
2 : 8회
3 : 6회
4 : 3회
5 : 4회
6 : 5회
7 : 3회
8 : 4회
9 : 2회
10 : 3회
11 : 3회
12 : 2회
13 : 4회
14 : 4회
15 : 2회
16 : 7회
17 : 2회
18 : 3회
19 : 1회
20 : 4회
21 : 5회
22 : 4회
23 : 5회
24 : 5회
25 : 5회
26 : 3회
27 : 3회
28 : 2회
29 : 2회
30 : 5회
31 : 7회
32 : 2회
33 : 5회
34 : 5회
35 : 3회
36 : 7회
37 : 7회
38 : 5회
39 : 2회
40 : 4회
41 : 2회
42 : 6회
43 : 7회
44 : 5회
45 : 2회
이주의 로또 번호 : 2 16 31 36 37 43