In [4]:
t1 = ()

In [6]:
t1

()

In [9]:
t2 = 1,2,3

In [12]:
t2

(1, 2, 3)

In [14]:
dictionary = {'name':'조용주', 'mobile':'010-xxxx-xxxx', 'email':'mail@penielcho.com'}

In [21]:
print(dictionary['name'])

조용주

In [23]:
dic = {1:'a'}

In [25]:
vegan_matzip = {'제로비건':'02-5145-8910', '쏭타이':'0507-1303-2495', '몽크스부처':'02-790-1108', '드렁큰비건':'070-7543-8101'}

In [28]:
matzip_name = input('전화번호를 알고 싶은 비건맛집의 이름이 뭔가요?')

In [31]:
print(vegan_matzip['제로비건'])

02-5145-8910

In [33]:
dic = {1:'a', 2:'b', 3:'c'}

In [36]:
keys_from_dic = dic.keys()

In [40]:
print(keys_from_dic)

[1, 2, 3]

In [43]:
keys_from_dic = list(dic.keys())

In [44]:
print(keys_from_dic) #dict_keys([1,2,3])이라는 본 적 없는 자료형이 출력됩니다.

[1, 2, 3]

In [46]:
if a > 10:
    if

SyntaxError: invalid syntax (340411987.py, line 2)

In [48]:
fruits = ['apple', 'banana', 'orange']

for fruit in fruits:
    print(fruit)

apple
banana
orange

In [50]:
fruits  = ("apple",  "banana",  "orange")

for fruit in fruits:
    print(fruit)

apple
banana
orange

In [52]:
for a in  range(1,  10):
    for b in  range(1,  10):
        print('%d * %d = %d'%(a, b, a * b))
    print('===%d단 끝!==='%(a))
print('구구단 1단 부터 9단까지 끝!')

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
===1단 끝!===
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
===2단 끝!===
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
===3단 끝!===
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
===4단 끝!===
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
===5단 끝!===
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
===6단 끝!===
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
===7단 끝!===
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
===8단 끝!===
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
===9단 끝!===
구구단 1단 부터 9단까지 끝!

In [54]:
for i in  range(1,5):
    if i > 3: continue
    print(i)

1
2
3

In [56]:
def print_address(state, city, country="Korea"):
    print("제가 사는 지역은 %s입니다." %state)
    print("제가 사는 도시는 %s입니다." %city)
    print("제가 사는 나라는 %s입니다." %country)

In [58]:
print_address("Illinois", "Chicago", "US")

제가 사는 지역은 Illinois입니다.
제가 사는 도시는 Chicago입니다.
제가 사는 나라는 US입니다.

In [1]:
def print_2022():
  print(2022)
  
print_2022()

2022

In [2]:
lang = []

In [4]:
lang.append("a")

In [6]:
print(lang)

['a', 'a']

In [8]:
import pandas as pd

In [12]:
df = pd.DataFrame(
{"a" : [4, 5, 6],
"b" : [7, 8, 9],
"c" : [10, 11, 12]},
index = [1, 2, 3])
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [13]:
df["a"].value_counts()

a
4    1
5    1
6    1
Name: count, dtype: int64