In [1]:
print(1,2,3)

1 2 3

In [2]:
print([1,2,3])

[1, 2, 3]

In [3]:
print("Hello World!")

Hello World!

In [4]:
print("Hello", "World", "!")

Hello World !

In [5]:
a=1
b=1
a+b

2

In [6]:
name="고다람"
print(name)

고다람

In [7]:
print(17%2)

1

In [8]:
num='168.7'
print(float(num))
print(type(float(num)))

168.7
<class 'float'>

In [9]:
a= '코사다마'
print(a[::-1])

마다사코

In [10]:
phone_num='010-1234-1234'
print(phone_num.replace('-',''))

01012341234

In [13]:
studentID='20221234'
name='고다람'
print('입학연도:{0}/ 이름: {1}/ 학번: {2}').format(studentID[:4], name, studentID)

입학연도:{0}/ 이름: {1}/ 학번: {2}

AttributeError: 'NoneType' object has no attribute 'format'

In [14]:
studentID = '20221234'
name = '고다람'
print('입학연도: {0} / 이름: {1} / 학번: {2}'.format(studentID[:4], name, studentID))

입학연도: 2022 / 이름: 고다람 / 학번: 20221234

In [15]:
import math

radius = 3.5
area = math.pi*radius**2
print(area)

38.48451000647496

In [16]:
print("당신의 생년,월,일을 차례로 입력하세요")
year=int(input('생년?'))
month=int(input('월?'))
day=int(input('일?'))
print('당신은',year,'년',month,'월',day,'일에 태어났습니다.')
print('생년월일을 합하면',year+month+day,"입니다.")

당신의 생년,월,일을 차례로 입력하세요
생년?2004
월?9
일?2
당신은 2004 년 9 월 2 일에 태어났습니다.
생년월일을 합하면 2015 입니다.

In [18]:
beyonce = [0, 100, 100]
hero = [70, 30, 0]
won0 = [100, 70, 80]
beyonce.append((beyonce[0]+beyonce[1]+beyonce[2])/3)
hero.append((hero[0]+hero[1]+hero[2])/3)
won0.append((won0[0]+won0[1]+won0[2])/3)
print((beyonce[3] + hero[3] + won0[3])/3)

61.11111111111111

In [19]:
number = [10, 2, 3, 4, 5, 7, 6, 8, 9, 100]
number.sort()
print(number[0], number[-1])

2 100

In [21]:
vegan_matzip = {'제로비건':'02-5145-8910', '쏭타이':'0507-1303-2495', '몽크스부처':'02-790-1108', '드렁큰비건':'070-7543-8101'}
print('쏭타이' in vegan_matzip)

True

In [22]:
n = 30

while n <= 30:
  n = n - 1
  print(n)
  if n % 5 ==0:
    break

29
28
27
26
25

In [23]:
sum_list=[]

for i in range(1,101):
  if i%2 == 0:
   sum_list.append(i)

print(sum(sum_list))

2550

In [25]:
fruits = ['사과', '오렌지', '파인애플', '귤', '천도복숭아', '리치', '코코넛', '샤인머스켓', '드래곤후르츠', '한라봉', '감']

name_len=[]
for i in fruits:
  a = len(i)
  name_len.append(a)

index_num = name_len.index(max(name_len))
print('{0}: {1}글자'.format(fruits[index_num], max(name_len)))

드래곤후르츠: 6글자

In [26]:
num = 0
while num <= 8:
  num += 1
  num2 = 1
  while num2 <=9:
    print('%d * %d = %d'%(num, num2, num * num2))
    num2 += 1
  print('===%d단 끝!==='%(num))
print('구구단 1단 부터 9단까지 끝!')

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
===1단 끝!===
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
===2단 끝!===
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
===3단 끝!===
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
===4단 끝!===
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
===5단 끝!===
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
===6단 끝!===
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
===7단 끝!===
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
===8단 끝!===
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
===9단 끝!===
구구단 1단 부터 9단까지 끝!

In [27]:
clap = ['3', '6', '9']

for i in range(1, 51):
  count = 0
  for j in str(i):
      if j in clap:
          count += 1
  if count > 0:
      i = '짝!' * count
  print(i)

1
2
짝!
4
5
짝!
7
8
짝!
10
11
12
짝!
14
15
짝!
17
18
짝!
20
21
22
짝!
24
25
짝!
27
28
짝!
짝!
짝!
짝!
짝!짝!
짝!
짝!
짝!짝!
짝!
짝!
짝!짝!
40
41
42
짝!
44
45
짝!
47
48
짝!
50

In [31]:
rank = {'beyonce' : '1', '장원영' : '2', '임영웅' : '3'}
name_list = list(rank.keys())
name = input('이름은?')
while name :
    if name in name_list:
        print('%s의 등수는 %s'%(name, rank[name]))
    else:
        print('%s은 없어요.'%name)
    break

이름은?장원영
장원영의 등수는 2

In [34]:
def print_dan(x):
	for i in list(range(1,10)):
		print (x * i)

dan = int(input("숫자를 입력하세요"))2
while dan != 0:
	print_dan(dan)
	dan = int(input())

숫자를 입력하세요1
1
2
3
4
5
6
7
8
9
362880
362880
725760
1088640
1451520
1814400
2177280
2540160
2903040
3265920

KeyboardInterrupt: Interrupted by user

In [35]:
def lotto_generator(x):
	import random
	valist = list(range(1,46))
	lottery_nums = []
	for i in range(6):
		random.shuffle(valist)
		val  = random.choice(valist)
		lottery_nums.append(val)
	print("\n%s회 :" % x , end = " ")
	for i in lottery_nums:
		print(i,end = " ")
	return lottery_nums

def lotto_stat(x):
    results = {}
    for i in range(1,46):
        results[i] = 0
    for i in range(1,x+1):
        lottery_nums = lotto_generator(i)
        for i in lottery_nums:
            results[i] = results[i] + 1
    print("\n")
    for i in results.keys():
        print("%s : %d회" % (i,results[i]))
    return results


results = lotto_stat(30)

this_nums = sorted(results, key= lambda c :results[c], reverse=True)[:6]

print("이 주의 로또 번호 :",end = " ")
for i in this_nums:
    print(i, end = " ")

1회 : 42 25 15 31 37 4
2회 : 12 2 34 30 3 44
3회 : 40 4 22 23 26 21
4회 : 31 14 39 10 33 4
5회 : 23 12 15 31 5 3
6회 : 23 8 34 17 38 7
7회 : 39 4 10 37 15 40
8회 : 13 44 14 28 23 3
9회 : 3 34 7 9 36 35
10회 : 19 9 1 42 18 41
11회 : 19 13 17 13 36 33
12회 : 2 28 38 43 16 20
13회 : 3 4 34 28 8 42
14회 : 3 3 2 39 40 2
15회 : 17 29 5 36 13 34
16회 : 1 18 34 19 31 21
17회 : 3 42 16 43 1 21
18회 : 24 7 1 17 19 3
19회 : 40 27 31 15 44 9
20회 : 22 24 25 36 31 15
21회 : 20 2 16 31 6 29
22회 : 33 27 14 3 6 29
23회 : 34 37 33 26 4 12
24회 : 24 24 19 39 20 16
25회 : 15 6 26 38 32 20
26회 : 3 28 30 11 1 27
27회 : 38 21 1 30 11 34
28회 : 30 40 29 44 3 41
29회 : 13 16 6 43 44 15
30회 : 34 38 14 28 39 29

1 : 6회
2 : 5회
3 : 12회
4 : 6회
5 : 2회
6 : 4회
7 : 3회
8 : 2회
9 : 3회
10 : 2회
11 : 2회
12 : 3회
13 : 5회
14 : 4회
15 : 7회
16 : 5회
17 : 4회
18 : 2회
19 : 5회
20 : 4회
21 : 4회
22 : 2회
23 : 4회
24 : 4회
25 : 2회
26 : 3회
27 : 3회
28 : 5회
29 : 5회
30 : 4회
31 : 7회
32 : 1회
33 : 4회
34 : 9회
35 : 1회
36 : 4회
37 : 3회
38 : 5회
39 : 5회
40 : 5회
41 : 2회
42 : 4회
43 : 3회
44 : 5회
45 : 0회
이 주의 로또 번호 : 3 34 15 31 1 4