In [2]:
t1 = ()
t2 = (1,) 
t3 = (1,2,3)
t4 = 1,2,3 
t5 = ('a', 'b', ('ab', 'cd'))

In [4]:
del t1[0] #불가능
t1[0] = 1 #불가능

TypeError: 'tuple' object doesn't support item deletion

In [14]:
t1=(1,2,3)
t2=(4,5)
t2 * 3 #곱하기

(4, 5, 4, 5, 4, 5)

In [15]:
t1=(1,2,3)
t2=(4,5)
t1 + t2 #더하기

(1, 2, 3, 4, 5)

In [16]:
dictionary = {'name':'유혜민', 'mobile':'010-2127-1679', 'email':'hyemin1679@naver.com'}

In [17]:
member_list = {'마크':['엔시티', '래퍼', '댄서', '엔시티드림', '엔시티127', '엔시티u'], '아이유':['가수', '여성 솔로', '배우']}

In [18]:
dic = {1:'a'} 
dic[2] = 'b' #2라는 Key와 b라는 Value 한 세트가 추가
dic['name']='유혜민' #name라는 Key와 유혜민이라는 Value 한 세트가 추가.
dic[3] = [1,2,3] #3이라는 Key와 [1,2,3]이라는 Value 한 세트가 추가.
print(dic)

{1: 'a', 2: 'b', 'name': '유혜민', 3: [1, 2, 3]}

In [23]:
dic = {1:'a', 2:'b', 3:'c'}
del b[2]
print(dic)

NameError: name 'b' is not defined

In [24]:
vegan_matzip = {'제로비건':'02-5145-8910', '쏭타이':'0507-1303-2495', '몽크스부처':'02-790-1108', '드렁큰비건':'070-7543-8101'}
matzip_name = input('전화번호를 알고 싶은 비건맛집의 이름이 뭔가요?')
print(vegan_matzip[matzip_name])

KeyError: ''

In [35]:
dic = {1:'유', 2:'혜', 3:'민'}
keys_from_dic = dic.keys()
print(keys_from_dic)
dic.clear()
print(dic)

dict_keys([1, 2, 3])
{}

In [36]:
dic = {1:'유', 2:'혜', 3:'민'}
keys_from_dic = dic.keys()
type(keys_from_dic)

dict_keys

In [37]:
dic = {1:'유', 2:'혜', 3:'민'}
values_from_dic = dic.values()
print(values_from_dic)
dic.clear()
print(dic)

dict_values(['유', '혜', '민'])
{}

In [40]:
hm_matzip = {'유혜민':'02-5145-8910', '혜민짱':'0507-1303-2495', '중대':'02-790-1108', '드렁큰비건':'070-7543-8101'}
print(hm_matzip['학고'])

KeyError: '학고'

In [ ]:
hm_matzip = {'유혜민':'02-5145-8910', '혜민짱':'0507-1303-2495', '중대':'02-790-1108', '드렁큰비건':'070-7543-8101'}
print(hm_matzip.get('학고')) 
print(hm_matzip.get('학고', '절대 받으면 안 돼.'))

None
절대 받으면 안 돼.

In [41]:
hm_matzip = {'유혜민':'02-5145-8910', '혜민짱':'0507-1303-2495', '중대':'02-790-1108', '드렁큰비건':'070-7543-8101'}
print('혜민짱' in hm_matzip) 
print('학고' in hm_matzip)

True
False

In [42]:
a = set([1,2,3])
print(a)

{1, 2, 3}

In [43]:
b = set(1,2,3) #에러
b = set(1) #에러

TypeError: set expected at most 1 argument, got 3

In [44]:
b = set("hyemin")
print(b)

{'h', 'n', 'y', 'i', 'e', 'm'}

In [47]:
weather = 'rain'
if weather == 'rain': 
    print('여행 취소')
else: 
    print('여행 고고')

여행 취소

In [49]:
weather = 'cloudy'

if weather == 'rain':
    print('차')
elif weather == 'snowy':
    print('지하철')
elif weather == 'cloudy':
    print('버스')
else:
     print('걷기')

버스

In [50]:
score = 3.5

if score > 4.0:
    print('학점: A+')
elif  3.5 < score <= 4.0:
    print('학점: A')
elif  3 < score <= 3.5:
    print('학점: B+')
else:
    print('None')

학점: B+

In [51]:
score = 3.5

if score > 4.0:
    print('학점: A+')
elif  (score <= 4.0) and (score > 3.5):
    print('학점: A')
elif  (score <= 3.5) and (score > 3.0):
    print('학점: B+')
else:
    print('None')

학점: B+

In [53]:
a = ['유', '혜', '민']

if '유' in a:
    print('유는 a에 포함함')
else:
    print('유는 a에 포함하지 않음')

유는 a에 포함함

In [54]:
a = ['유', '혜', '민']

if '유' not in a:
    pass
else:
    print('유는 a에 포함함')

유는 a에 포함함

In [55]:
a = 12

if a > 10:
   if a % 2 == 0:
      print('10보다 크면서 짝수인 수')
   else:
      print('10보다 크면서 홀수인 수')
else:
   if a % 2 == 0:
      print('10보다 작으면서 짝수인 수')
   else:
      print('10보다 작으면서 홀수인 수')

10보다 크면서 짝수인 수

In [56]:
num = 1
while num <= 10:
    print('The number is %d' % num)
    num += 1

The number is 1
The number is 2
The number is 3
The number is 4
The number is 5
The number is 6
The number is 7
The number is 8
The number is 9
The number is 10

In [57]:
num = 1

while num < 10:
    num += 1
    if num % 2 == 1:
        continue
    print(num)

2
4
6
8
10

In [59]:
num = 1

while num < 10:
    num += 1
    if num % 2 == 0:
        print(num)
        break

2

In [60]:
for h in range(1,6):
    print(h)

1
2
3
4
5

In [64]:
idols = ['mark', 'karina', 'wendy']

for idol in idols:
    print(idol)

mark
karina
wendy

In [65]:
idols  = ("mark",  "jeno",  "renjun")

for idol in idols:
    print(idol)

mark
jeno
renjun

In [66]:
ex = "혜민이는 짱이다!"

for i in ex:
    print(i)

혜
민
이
는

짱
이
다
!

In [67]:
for a in  range(1,  10):
    for b in  range(1,  10):
        print('%d * %d = %d'%(a, b, a * b))
    print('===%d단 끝!==='%(a))
print('구구단 1단 부터 9단까지 끝!')

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
===1단 끝!===
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
===2단 끝!===
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
===3단 끝!===
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
===4단 끝!===
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
===5단 끝!===
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
===6단 끝!===
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
===7단 끝!===
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
===8단 끝!===
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
===9단 끝!===
구구단 1단 부터 9단까지 끝!

In [68]:
new_list=[] 

for i in range(1,6):
    new_list.append(i * 10)

In [69]:
new_list=[i*10 for i in range(1,6)]

In [70]:
for i in  range(1,5):
    if i > 3:
        break
    print(i)

1
2
3

In [71]:
for i in  range(1,5):
    if i > 3: continue
    print(i)

1
2
3

In [72]:
a = 100
for i in range(0,10):
    print(i)
    if i == a: break
else:
    print('for complete')
print('done')

0
1
2
3
4
5
6
7
8
9
for complete
done

In [73]:
# 1. 30에서 1씩 빼다가 결과가 5의 배수가 되면 멈추는 식을 작성해보세요.
n = 30

while n <= 30:
  n = n - 1
  print(n)
  if n % 5 ==0:
    break

29
28
27
26
25

In [74]:
# 2. 1에서 100사이의 모든 짝수의 합을 구해보세요.
sum_list=[]

for i in range(1,101):
  if i%2 == 0:
   sum_list.append(i)

print(sum(sum_list))

2550

In [75]:
# 3. 다음 과일 이름 리스트 중, 과일 이름의 길이가 가장 긴 과일을 찾아보세요.
fruits = ['사과', '오렌지', '파인애플', '귤', '천도복숭아', '리치', '코코넛', '샤인머스켓', '드래곤후르츠', '한라봉', '감']

name_len=[]
for i in fruits:
  a = len(i)
  name_len.append(a)

index_num = name_len.index(max(name_len))
print('{0}: {1}글자'.format(fruits[index_num], max(name_len)))

드래곤후르츠: 6글자

In [76]:
# 4. while문을 활용하여 구구단 1단 부터 9단까지 출력해보세요.
num = 0
while num <= 8:
  num += 1
  num2 = 1
  while num2 <=9:
    print('%d * %d = %d'%(num, num2, num * num2))
    num2 += 1
  print('===%d단 끝!==='%(num))
print('구구단 1단 부터 9단까지 끝!')

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
===1단 끝!===
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
===2단 끝!===
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
===3단 끝!===
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
===4단 끝!===
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
===5단 끝!===
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
===6단 끝!===
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
===7단 끝!===
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
===8단 끝!===
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
===9단 끝!===
구구단 1단 부터 9단까지 끝!

In [77]:
# 5. 369게임 결과를 출력해보세요. (단, 33은 박수 두 번치고, 50번째에 게임은 끝남)

clap = ['3', '6', '9']

for i in range(1, 51):
  count = 0
  for j in str(i):
      if j in clap:
          count += 1
  if count > 0:
      i = '짝!' * count
  print(i)

1
2
짝!
4
5
짝!
7
8
짝!
10
11
12
짝!
14
15
짝!
17
18
짝!
20
21
22
짝!
24
25
짝!
27
28
짝!
짝!
짝!
짝!
짝!짝!
짝!
짝!
짝!짝!
짝!
짝!
짝!짝!
40
41
42
짝!
44
45
짝!
47
48
짝!
50

In [84]:
# 6. beyonce의 등수는 1등, 임영웅의 등수는 3등, 장원영의 등수는 2등입니다. 이 정보들을 변수에 넣어, 아래 예시와 같이 이름을 입력받고 점수를 출력하는 프로그램을 만드세요. 만약 존재하지 않는 학생의 이름을 입력 받을 경우, 입력값은 없어요. 라는 문장을 출력하도록 하세요.
rank = {'beyonce' : '1', '임영웅':'3', '장원영' : '2'}
name_list = list(rank.keys())
name = input("이름은?")

while name :
    if  name in name_list:
        print(name, "의 등수는 ", rank[name], sep='')

    elif name not in name_list:
        print(name, "는(은) 없어요.", sep='') 

        break

KeyboardInterrupt: Interrupted by user

In [85]:
rank = {'beyonce' : '1', '임영웅':'3', '장원영' : '2'}
name_list = list(rank.keys())
name = input("이름은?")

while name :
​    if  name in name_list:
​        print(name,"의 등수는 ",rank[name],sep='' )

​    elif name not in name_list:
​        print(name,"는(은) 없어요",sep='')

​    break

SyntaxError: invalid non-printable character U+200B (325531675.py, line 6)

In [88]:
def square (x):
  y = x**2
  return y
square(5)

25

In [89]:
def plus (a, b):
  c = a + b
  return c

plus(6,7)

13

In [90]:
plus = lambda a, b : a + b

plus(6,8)

14

In [91]:
def square(a):
  b=a**2
  return b

square(7)

49

In [92]:
def return_2024():
  return 2024

return_2024()

2024

In [93]:
def print_square(a):
  print(a**2)
  
print_square(8)

64

In [95]:
def print_address(state, city, country="Korea"):
    print("제가 사는 지역은 %s입니다." %state)
    print("제가 사는 도시는 %s입니다." %city)
    print("제가 사는 나라는 %s입니다." %country)

print_address("Illinois", "Chicago", "US")

print_address("서울특별시", "서울")

제가 사는 지역은 Illinois입니다.
제가 사는 도시는 Chicago입니다.
제가 사는 나라는 US입니다.
제가 사는 지역은 서울특별시입니다.
제가 사는 도시는 서울입니다.
제가 사는 나라는 Korea입니다.

In [96]:
def plus_6(b):
  a=6
  c=a+b
  return c

print(a)

1

In [97]:
def plus_6(b):
  a=6
  c=a+b
  return c

In [98]:
a=6

def plus_6(b):
  c=a+b
  return c

plus_6(1)

7

In [100]:
import random

print(random.randint(1, 5))
print(random.randrange(1, 5))
print(random.random())

2
2
0.5335189333615443

In [102]:
IDOL = ['마크', '런쥔', '제노', '해찬', '재민', '천러', '지성']

print(random.choice(IDOL))
print(random.sample(IDOL, 3))

마크
['런쥔', '마크', '천러']

In [103]:
# 1. 구구단을 외자! 숫자를 입력받으면, 해당 숫자의 구구단(해당 숫자에 1~9를 곱한 값들)을 출력하는 함수를 만드세요.
def print_dan(x):
	for i in list(range(1,10)):
		print (x * i)

dan = int(input("숫자를 입력하세요"))
while dan != 0:
	print_dan(dan)
	dan = int(input())

ValueError: invalid literal for int() with base 10: ''

In [106]:
def lotto_generator(x):
	import random
	valist = list(range(1,46))
	lottery_nums = []
	for i in range(6):
		random.shuffle(valist)
		val  = random.choice(valist)
		lottery_nums.append(val)
	print("\n%s회 :" % x , end = " ")
	for i in lottery_nums:
		print(i,end = " ")
	return lottery_nums

def lotto_stat(x):
    results = {}
    for i in range(1,46):
        results[i] = 0
    for i in range(1,x+1):
        lottery_nums = lotto_generator(i)
        for i in lottery_nums:
            results[i] = results[i] + 1
    print("\n")
    for i in results.keys():
        print("%s : %d회" % (i,results[i]))
    return results


results = lotto_stat(30)

this_nums = sorted(results, key= lambda c :results[c], reverse=True)[:6]

print("이 주의 로또 번호 :",end = " ")
for i in this_nums:
    print(i, end = " ")

1회 : 37 8 21 13 5 34
2회 : 30 12 26 44 23 17
3회 : 20 14 33 33 18 15
4회 : 8 18 21 28 33 10
5회 : 15 28 35 9 44 2
6회 : 37 17 39 31 3 24
7회 : 16 30 19 4 38 27
8회 : 45 40 37 21 41 24
9회 : 27 3 6 6 19 18
10회 : 19 26 21 9 28 41
11회 : 20 18 29 14 45 32
12회 : 13 7 7 15 42 36
13회 : 14 35 11 32 30 43
14회 : 33 17 14 2 9 6
15회 : 6 8 28 27 15 35
16회 : 40 45 31 27 25 3
17회 : 29 17 43 10 43 5
18회 : 22 15 16 2 33 7
19회 : 40 16 38 39 20 33
20회 : 19 11 10 22 29 13
21회 : 10 32 8 16 6 39
22회 : 18 45 3 7 25 2
23회 : 28 25 7 20 22 6
24회 : 27 29 29 24 34 27
25회 : 34 8 3 23 1 42
26회 : 24 26 17 37 25 40
27회 : 31 14 26 45 9 16
28회 : 34 8 29 9 5 3
29회 : 20 9 27 21 32 8
30회 : 40 37 38 39 5 30

1 : 1회
2 : 4회
3 : 6회
4 : 1회
5 : 4회
6 : 6회
7 : 5회
8 : 7회
9 : 6회
10 : 4회
11 : 2회
12 : 1회
13 : 3회
14 : 5회
15 : 5회
16 : 5회
17 : 5회
18 : 5회
19 : 4회
20 : 5회
21 : 5회
22 : 3회
23 : 2회
24 : 4회
25 : 4회
26 : 4회
27 : 7회
28 : 5회
29 : 6회
30 : 4회
31 : 3회
32 : 4회
33 : 6회
34 : 4회
35 : 3회
36 : 1회
37 : 5회
38 : 3회
39 : 4회
40 : 5회
41 : 2회
42 : 2회
43 : 3회
44 : 2회
45 : 5회
이 주의 로또 번호 : 8 27 3 6 9 29