In [ ]:
#Q1
a = 30
while a<=30:
  a-=1
  print (a)
  if a%5==0:
    break

29
28
27
26
25

In [ ]:
#Q2
sum = 0
for i in range (2,101,2):
  sum += i
print(sum)

2550

In [ ]:
#Q3
fruits = ['사과', '오렌지', '파인애플', '귤', '천도복숭아', '리치', '코코넛', '샤인머스켓', '드래곤후르츠', '한라봉', '감']

name_len=[]
for i in fruits:
  a=len(i)
  name_len.append(a)

In [ ]:
#Q4
 dan = 0
 while dan<9:
  dan += 1
  num = 1
  while num<10:
    print("%d * %d = %d" %(dan, num, dan*num))
    num+=1

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
#Q5
clap = ['3','6','9']

for i in range(1,51):
  count = 0
  for j in str(i):
    if j in clap:
      count += 1
  if count>0:
    i = '짝!'* count
  print(i)

1
2
짝!
4
5
짝!
7
8
짝!
10
11
12
짝!
14
15
짝!
17
18
짝!
20
21
22
짝!
24
25
짝!
27
28
짝!
짝!
짝!
짝!
짝!짝!
짝!
짝!
짝!짝!
짝!
짝!
짝!짝!
40
41
42
짝!
44
45
짝!
47
48
짝!
50

In [ ]:
#Q6
rank = {'beyonce':'1', '임영웅': '3', '장원영':'2'}
name_list = list(rank.keys())
name = input("이름은?")

if name in name_list:
  print(name,"의 등수는 ",rank[name])
elif name not in name_list:
  print(name, "는(은) 없어요")

이름은?beyonce
beyonce 의 등수는  1

In [ ]:
#7-4 실습
#Q1
def print_dan(x):
  for i in list (range(1,10)):
    print (x * i)

dan = int(input("숫자를 입력하세요"))
print_dan((dan))

숫자를 입력하세요3
3
6
9
12
15
18
21
24
27

In [ ]:
#Q2
def lotto_generator(x):
	import random
	valist = list(range(1,46))
	lottery_nums = []
	for i in range(6):
		random.shuffle(valist)
		val  = random.choice(valist)
		lottery_nums.append(val)
	print("\n%s회 :" % x , end = " ")
	for i in lottery_nums:
		print(i,end = " ")
	return lottery_nums

def lotto_stat(x):
    results = {}
    for i in range(1,46):
        results[i] = 0
    for i in range(1,x+1):
        lottery_nums = lotto_generator(i)
        for i in lottery_nums:
            results[i] = results[i] + 1
    print("\n")
    for i in results.keys():
        print("%s : %d회" % (i,results[i]))
    return results


results = lotto_stat(30)

this_nums = sorted(results, key= lambda c :results[c], reverse=True)[:6]

print("이 주의 로또 번호 :",end = " ")
for i in this_nums:
    print(i, end = " ")