In [3]:
dictionary={'name':'남예원', 'mobile':'010-3661-4538','email':'namdolly@hanmail.net'}

In [4]:
dic={1:'a'}
dic[2]='b'
dic['name']='남예원'
dic[3]=[1,2,3,]
print(dic)

{1: 'a', 2: 'b', 'name': '남예원', 3: [1, 2, 3]}

In [11]:
dic = {1:'a', 2:'b', 3:'c'}
del dic[2]
print(dic)

{1: 'a', 3: 'c'}

In [13]:
dic = {1:'a', 2:'b', 3:'c'}

dic.values()

dict_values(['a', 'b', 'c'])

In [18]:
dic = {1:'a', 2:'b', 3:'c'}
dic.clear()
print(dic)

{}

In [30]:
score = 3.5

if score > 4.0:
    print('학점: A+')
elif  3.5 < score <= 4.0:
    print('학점: A')
elif  3 < score <= 3.5:
    print('학점: B+')
else:
    print('None')

학점: B+

In [31]:
weather = rain
if weather == rain:
    print('여행 취소')
else:
    print('여행 고고')

NameError: name 'rain' is not defined

In [32]:
score = 3.5

if score > 4.0:
    print('학점: A+')
elif  (score <= 4.0) and (score > 3.5):
    print('학점: A')
elif  (score <= 3.5) and (score > 3.0):
    print('학점: B+')
else:
    print('None')

학점: B+

In [1]:
while True:
    name=input('당신의 이름은?')
    if name=='종료':
      print('종료합니다.')
      break
    print('{}님, 안녕!'.format(name))

당신의 이름은?예원
예원님, 안녕!
당신의 이름은?종료
종료합니다.

In [2]:
fruits = ['apple', 'banana', 'orange']

for fruit in fruits:
    print(fruit)

apple
banana
orange

In [3]:
fruits  = ("apple",  "banana",  "orange")

for fruit in fruits:
    print(fruit)

apple
banana
orange

In [4]:
ex = "파이썬 공부는 재밌다!"

for i in ex:
    print(i)

파
이
썬

공
부
는

재
밌
다
!

In [2]:
num=30

while num<=30:
    num=num-1
    print(num)
    if (num-1)==0:
      break

29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [5]:
def add(num1,num2):
    return num1+num2
add(1,2)

3

In [6]:
def add_mul(n1,n2):
    return n1+n2, n1*n2
add_mul(1,2)

(3, 2)

In [9]:
import random
numbers=[1,2,3,4,5,6,7,8,44,56,32,46]
print(random.choice(numbers))

32

In [13]:
import random
numbers=[1,2,3,4,5,6,7,8,44,56,32,46]
print(random.sample(numbers,2))

[46, 3]

In [18]:
def square1(n1):
  return n1*1
square1(2)

2