챕터1

In [ ]:
print(1,2,3)

1 2 3

In [ ]:
print([1,2,3])

[1, 2, 3]

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
print("Hello", "World", "!")

Hello World !

In [ ]:
a=1
b=1
a+b

2

In [ ]:
name="김나경"
print(name)

김나경

In [ ]:
print('이건 한 줄 주석입니다.')
#이건 실행이 될까요?

이건 한 줄 주석입니다.

In [ ]:
print('이건 여러 줄 주석입니다.')
'''
이건 실행이 될까요?
'''

이건 여러 줄 주석입니다.

'\n이건 실행이 될까요?\n'

In [ ]:
print('이건 여러 줄 주석입니다.')
'''
이건 실행이 될까요?
'''
print('이제 여러 줄 주석은 실행되지 않습니다.')

이건 여러 줄 주석입니다.
이제 여러 줄 주석은 실행되지 않습니다.

In [ ]:

# 여러 줄 주석만들기
# 어렵지
# 않아요!

챕터2

In [ ]:
17 % 2
#값이 1이면 홀수, 0이면 짝수

1

In [ ]:
print(float('168.7'))
print(type(float('168.7')))

168.7
<class 'float'>

In [ ]:
a = '코사다마'
print(a[::-1])

마다사코

In [ ]:
phone_num = '010-1234-1234'
print(phone_num.replace('-',''))

01012341234

In [ ]:
studentID = '20221234'
name = '고다람'
print('입학년도:{0} / 이름:{1} / 학번:{2}'.format(2022, name, studentID))

입학년도:2022 / 이름:고다람 / 학번:20221234

In [ ]:
studentID = '20241234'
name = '고다람'
print('입학년도:{0} \n 이름:{1} \n 학번:{2}'.format(studentID[:4], name, studentID))

입학년도:2024
 이름:고다람
 학번:20241234

챕터3

In [ ]:
radius = 3.5
area = radius * radius * 3.14
print(area)

38.465

In [ ]:
print('생년, 월, 일을 차례로 입력하세요.')
year = int(input('생년?'))
month = int(input('월?'))
day = int(input('일?'))
print('당신은', year, '년', month, '월', day, '일에 태어났습니다.')

생년, 월, 일을 차례로 입력하세요.
생년?2005
월?2
일?5
당신은 2005 년 2 월 5 일에 태어났습니다.

챕터4

In [ ]:
비욘세=[0,100,100]
임영웅=[70,30,0]
장원영=[100,70,80]
비욘세.append((비욘세[0]+비욘세[1]+비욘세[2])/3)
임영웅.append((임영웅[0]+임영웅[1]+임영웅[2])/3)
장원영.append((장원영[0]+장원영[1]+장원영[2])/3)
print((비욘세[3] + 임영웅[3] + 장원영[3])/3)

61.11111111111111

In [ ]:
number = [3,26,5,1,4,8,77,54,31,100]
number.sort()
print(number[0],number[9])

1 100

챕터6

In [ ]:
num = 30
while num <= 30:
  num -= 1
  print(num)
  if num % 5==0:
      break

29
28
27
26
25

In [ ]:
a=0
for i in range(2,101,2):
  a+=i
print(a)

2550

In [4]:
fruits = ['사과', '오렌지', '파인애플', '귤', '천도복숭아', '리치', '코코넛', '샤인머스켓', '드래곤후르츠', '한라봉', '감']
fruit = []
for i in fruits:
  a = len(i)
  fruit.append(a)

index_f = fruit.index(max(fruit))

print(fruits[index_f])

드래곤후르츠

In [ ]:
i = 0
while i < 9:
  i += 1
  j = 1
  while j <= 9:
    print('%d * %d = %d'%(i, j, i*j))
    j += 1

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [8]:
for i in range(1,51):
  if ('3' in str(i) or '6' in str(i) or '9' in str(i)):
    print('짝!')

  else:
    print(i)

1
2
짝!
4
5
짝!
7
8
짝!
10
11
12
짝!
14
15
짝!
17
18
짝!
20
21
22
짝!
24
25
짝!
27
28
짝!
짝!
짝!
짝!
짝!
짝!
짝!
짝!
짝!
짝!
짝!
40
41
42
짝!
44
45
짝!
47
48
짝!
50

In [9]:
비욘세 = 1
임영웅 = 3
장원영 = 2
name = input('이름은?')
if name == '비욘세':
  print(name,'의 등수는',비욘세)
if name == '임영웅':
  print(name,'의 등수는',임영웅)
if name == '장원영':
  print(name,'의 등수는',장원영)
else:
  print('이름을 다시 입력해주세요.')

이름은?김나경
이름을 다시 입력해주세요.

챕터7

In [15]:
def gugudan(x):
  for i in range(1,10):
    print(x * i)

gugu = input('구구단을 외자! 몇 단?')
gugudan(gugu)

구구단을 외자! 몇 단?9
9
99
999
9999
99999
999999
9999999
99999999
999999999