Q1. 30에서 1씩 빼다가 결과가 5의 배수가 되면 멈추는 식을 작성해보세요.

In [ ]:
a = 30

while a <= 30:
	a = a - 1
	print(a)
	if a % 5 == 0:
		break

29
28
27
26
25

Q2. 1에서 100 사이의 모든 짝수의 합을 구해보세요.

In [ ]:
sum_list = []

for i in range(1,101):
  if i%2 == 0:
    sum_list.append(i)
print(sum(sum_list))

2550

Q3. 다음 과일 이름 리스트 중, 과일 이름의 길이가 가장 긴 과일을 찾아보세요.

fruits = ['사과', '오렌지', '파인애플', '귤', '천도복숭아', '리치', '코코넛', '샤인머스켓', '드래곤후르츠', '한라봉', '감']

In [ ]:
fruits = ['사과', '오렌지', '파인애플', '귤', '천도복숭아', '리치', '코코넛', '샤인머스켓', '드래곤후르츠', '한라봉', '감']

name_len=[]
for i in fruits:
  a = len(i)
  name_len.append(a)

index_num = name_len.index(max(name_len))
print('{0}: {1}글자'.format(fruits[index_num], max(name_len)))

드래곤후르츠: 6글자

Q4. while문을 활용하여 구구단 1단부터 9단까지 출력해보세요.

In [ ]:
num = 0

while num <=8:
  num += 1
  num2 = 1
  while num2<=9:
    print('%d * %d = %d'%(num, num2, num * num2))
    num2 += 1
  print('===%d단 끝!==='%(num))
print('구구단 1단부터 9단까지 끝!')

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
===1단 끝!===
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
===2단 끝!===
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
===3단 끝!===
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
===4단 끝!===
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
===5단 끝!===
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
===6단 끝!===
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
===7단 끝!===
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
===8단 끝!===
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
===9단 끝!===
구구단 1단부터 9단까지 끝!

Q5. 369게임 결과를 출력해보세요. (단, 33, 36, 39는 박수를 두 번치고, 50번째에 게임은 끝남)

In [ ]:
clap = ['3', '6', '9']

for i in range(1, 51):
    count = 0
    for j in str(i):
      if j in clap:
        count += 1
      if count > 0:
        i = '짝' * count
      print(i)

1
2
짝
4
5
짝
7
8
짝
10
10
11
11
12
12
13
짝
14
14
15
15
16
짝
17
17
18
18
19
짝
20
20
21
21
22
22
23
짝
24
24
25
25
26
짝
27
27
28
28
29
짝
짝
짝
짝
짝
짝
짝
짝
짝짝
짝
짝
짝
짝
짝
짝짝
짝
짝
짝
짝
짝
짝짝
40
40
41
41
42
42
43
짝
44
44
45
45
46
짝
47
47
48
48
49
짝
50
50

Q6. beyonce의 등수는 1등, 임영웅의 등수는 3등, 장원영의 등수는 2등입니다. 이 정보들을 변수에 넣어 아래 예시와 같이 이름을 입력받고 점수를 출력하는 프로그램을 만드세요.

In [ ]:
rank ={'beyonce': '1', '임영웅':'3', '장원영':'2'}
name_list = list(rank.keys())
name = input("이름은?")

while name:
  if name in name_list:
    print(name,"의 등수는 ",rank[name], sep='')

  elif name not in name_list:
    print(name,"는(은) 없어요",sep='')

  break

이름은?고다연
고다연는(은) 없어요

**7. 함수**

Q1. 구구단을 외자! 숫자를 입력받으면, 해당 숫자의 구구단(해당 숫자에 1~9를 곱한 값들)을 출력하는 함수를 만드세요.

In [ ]:
def print_gugu(x):
  for i in list(range(1,10)):
    print(x * i)

gugu = int(input("숫자를 입력하세요"))
while gugu !=0:
  print_gugu(gugu)
  gugu = int(input())

숫자를 입력하세요9
9
18
27
36
45
54
63
72
81

Q2. 이번 주 로또 번호를 화면에 표시하는 프로그램을 만들고자 합니다.

로또 설명

1000회분의 로또 번호를 랜덤하게 생성한 것을 지난 1000회의 로또 번호라 가정합니다.
1회분의 로또 번호는 1-45 사이의 중복되지 않는 숫자 6개로 이뤄집니다.
지난 1000회에서 나온 숫자(1000회*6개)의 빈도를 계산하고 표시한 후, 가장 높은 빈도를 가진 숫자 6개를 뽑아 이 주의 로또 번호로 화면에 표시합니다.
로또 함수 설명

1회분의 로또 번호 생성기를 하나의 함수로 만듭니다.
이 함수를 1000회 사용하면 1000주 분량의 로또 번호를 만들 수 있습니다.
1000회분의 로또 번호를 화면에 표시합니다.
이 결과를 모아 통계를 내, 각 숫자가 몇회 등장했는지 표시합니다.
가장 자주 나타난 숫자 6개를 고르면, 이것이 이 주의 로또 번호 예측입니다.
동수가 동수가 있을 경우 어느 숫자를 골라도 무관합니다. 예컨대, 23과 41이 모두 80회씩 나타났다면 둘 중 아무 숫자를 써도 상관 없습니다.

In [ ]:
def lotto_generator(x):
	import random
	valist = list(range(1,46))
	lottery_nums = []
	for i in range(6):
		random.shuffle(valist)
		val  = random.choice(valist)
		lottery_nums.append(val)
	print("\n%s회 :" % x , end = " ")
	for i in lottery_nums:
		print(i,end = " ")
	return lottery_nums

def lotto_stat(x):
    results = {}
    for i in range(1,46):
        results[i] = 0
    for i in range(1,x+1):
        lottery_nums = lotto_generator(i)
        for i in lottery_nums:
            results[i] = results[i] + 1
    print("\n")
    for i in results.keys():
        print("%s : %d회" % (i,results[i]))
    return results


results = lotto_stat(30)

this_nums = sorted(results, key= lambda c :results[c], reverse=True)[:6]

print("이 주의 로또 번호 :",end = " ")
for i in this_nums:
    print(i, end = " ")

1회 : 23 26 5 37 43 15
2회 : 20 24 45 39 43 8
3회 : 20 34 9 8 22 12
4회 : 26 42 35 25 31 32
5회 : 16 13 31 5 28 38
6회 : 34 19 16 32 1 22
7회 : 20 41 8 36 31 28
8회 : 20 32 25 23 9 30
9회 : 5 3 26 8 38 22
10회 : 18 5 19 45 16 39
11회 : 32 32 19 2 14 13
12회 : 45 14 1 11 16 28
13회 : 28 18 30 7 28 42
14회 : 2 12 4 35 17 32
15회 : 15 8 12 9 20 41
16회 : 43 7 27 32 5 22
17회 : 4 29 16 36 32 22
18회 : 14 10 37 45 4 22
19회 : 10 3 1 44 5 27
20회 : 18 30 17 7 1 29
21회 : 12 34 39 37 37 43
22회 : 19 10 41 19 39 12
23회 : 29 25 33 40 4 6
24회 : 44 18 32 27 35 15
25회 : 14 19 42 18 25 40
26회 : 5 42 38 15 1 17
27회 : 3 5 12 33 5 31
28회 : 35 12 25 28 40 28
29회 : 16 36 41 13 13 3
30회 : 10 31 9 32 38 18

1 : 5회
2 : 2회
3 : 4회
4 : 4회
5 : 9회
6 : 1회
7 : 3회
8 : 5회
9 : 4회
10 : 4회
11 : 1회
12 : 7회
13 : 4회
14 : 4회
15 : 4회
16 : 6회
17 : 3회
18 : 6회
19 : 6회
20 : 5회
21 : 0회
22 : 6회
23 : 2회
24 : 1회
25 : 5회
26 : 3회
27 : 3회
28 : 7회
29 : 3회
30 : 3회
31 : 5회
32 : 10회
33 : 2회
34 : 3회
35 : 4회
36 : 3회
37 : 4회
38 : 4회
39 : 4회
40 : 3회
41 : 4회
42 : 4회
43 : 4회
44 : 2회
45 : 4회
이 주의 로또 번호 : 32 5 12 28 16 18