2주차 실습 - 5

In [2]:
vegan_matzip = {'제로비건':'02-5145-8910','쏭타이':'0507-1303-2495','몽크스부처':'02-790-1108','드렁큰비건':'070-7543-8101'}
print('쏭타이' in vegan_matzip)

True

In [3]:
print('플랜트' in vegan_matzip)

False

2주차 실습 - 6

In [5]:
weather = rain
if weather = rain:
  print('여행 취소')
else:
  print('여행 고고')

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (<ipython-input-5-8326ed732204>, line 2)

In [7]:
# 비교연산자 사용예시
score = 3.5

if score > 4.0:
  print('학점:A+')
elif 3.5 < score <= 4.0:
  print('학점:A')
elif 3 < score <= 3.5:
  print('학점:B+')
else:
  print('None')

학점:B+

In [8]:
# 논리연산자 사용예시
score = 3.5

if score > 4.0:
  print('학점:A+')
elif (score <= 4.0) and (score > 3.5):
  print('학점:A')
elif (score <= 3.5) and (score > 3.0):
  print('학점:B+')
else:
  print('None')

학점:B+

In [9]:
# 리스트
fruits = ['apple', 'banana', 'orange']

for fruit in fruits:
  print(fruit)

apple
banana
orange

In [10]:
# 튜플
fruiuts = ("apple", "banana", "orange")

for fruit in fruits:
  print(fruit)

apple
banana
orange

In [12]:
# 문자열
ex = "파이썬 공부는 재밌다!"

for i in ex:
  print(i)

파
이
썬

공
부
는

재
밌
다
!

In [15]:
for a in range(1, 10):
  for b in range(1, 10):
    print('%d'* %d = %d%(a, b, a * b))
    print('===%d단 끝!==='%(a))
  print('구구단 1단부터 9단까지 끝!')

SyntaxError: invalid syntax (<ipython-input-15-e228b60e7881>, line 3)

In [14]:
for a in  range(1,  10):
    for b in  range(1,  10):
        print('%d * %d = %d'%(a, b, a * b))
    print('===%d단 끝!==='%(a))
print('구구단 1단 부터 9단까지 끝!')

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
===1단 끝!===
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
===2단 끝!===
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
===3단 끝!===
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
===4단 끝!===
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
===5단 끝!===
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
===6단 끝!===
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
===7단 끝!===
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
===8단 끝!===
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
===9단 끝!===
구구단 1단 부터 9단까지 끝!

In [16]:
# 30에서 1씩 빼다가 결과가 5의 배수가 되면 멈추는 식을 작성해보세요.

n = 30

while n <= 30:
  n = n - 1
  print(n)
  if n % 5 ==0:
    break

29
28
27
26
25

In [17]:
# 1에서 100사이의 모든 짝수의 합을 구해보세요.

sum_list=[]

for i in range(1, 100):
  if i%2 == 0:
    sum_list.append(i)

print(sum(sum_list))

2450

In [18]:
# 다음 과일 이름 리스트 중, 과일 이름의 길이가 가장 긴 과일을 찾아보세요.
fruits = ['사과', '오렌지', '파인애플', '귤', '천도복숭아', '리치', '코코넛', '샤인머스켓', '드래곤후르츠', '한라봉', '감']

name_len=[]
for i in fruits:
  a = len(i)
  name_len.append(a)

index_num = name_len.index(max(name_len))
print('{0}: {1}글자'. format(fruits[index_num], max(name_len)))

드래곤후르츠: 6글자

In [19]:
#while문을 활용하여 구구단 1단 부터 9단까지 출력해보세요.

num = 0
while num <= 8:
  num += 1
  num2 = 1
  while num2 <=9:
    print('%d * %d = %d'%(num, num2, num * num2))
    num2 += 1
  print('===%d단 끝!==='%(num))
print('구구단 1단 부터 9단까지 끝!')

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
===1단 끝!===
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
===2단 끝!===
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
===3단 끝!===
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
===4단 끝!===
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
===5단 끝!===
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
===6단 끝!===
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
===7단 끝!===
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
===8단 끝!===
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
===9단 끝!===
구구단 1단 부터 9단까지 끝!

In [ ]:
#369게임 결과를 출력해보세요. (단, 33, 36, 39는 박수를 두 번치고, 50번째에 게임은 끝남)
✔️ 369게임은 1부터 시작해서 1씩 더하면서 말하다가 3, 6, 9가 들어가는 순서에서는 숫자 대신 박수를 치는 게임입니다.

# 출력예시
1
2
짝!!
4
5
짝!!
7
8
짝!!
10

In [21]:
clap = ['3', '6', '9']

for i in range(1, 51):
  count = 0
  for j in str(i):
    if j in clap:
      count += 1
    if count > 0:
      i = '짝!' * count
    print(i)

1
2
짝!
4
5
짝!
7
8
짝!
10
10
11
11
12
12
13
짝!
14
14
15
15
16
짝!
17
17
18
18
19
짝!
20
20
21
21
22
22
23
짝!
24
24
25
25
26
짝!
27
27
28
28
29
짝!
짝!
짝!
짝!
짝!
짝!
짝!
짝!
짝!짝!
짝!
짝!
짝!
짝!
짝!
짝!짝!
짝!
짝!
짝!
짝!
짝!
짝!짝!
40
40
41
41
42
42
43
짝!
44
44
45
45
46
짝!
47
47
48
48
49
짝!
50
50

In [ ]:
# beyonce의 등수는 1등, 임영웅의 등수는 3등, 장원영의 등수는 2등입니다. 이 정보들을 변수에 넣어, 아래 예시와 같이 이름을 입력받고 점수를 출력하는 프로그램을 만드세요.
이름은? beyonce
beyonce의 등수는 1

In [28]:
rank = {'beyonce : '1, '임영웅':'3', '장원영': 2 }
name_list = list(rank.keys())
name = input("이름은?")

while name:
        if name in name_list:
        print(name,"의 등수는", rank[name],sep='')
        elif name not in name_list:
        print(name,"는 없어요", sep='')
        break

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-28-48b94fc12e34>, line 1)

In [ ]:
rank = {'beyonce': '1', '임영웅': '3', '장원영': '2'}
name_list = list(rank.keys())
name = input("이름은? ")

while name:
    if name in name_list:
        print(name, "의 등수는", rank[name], sep='')
    else:
        print(name, "는 없어요", sep='')
    name = input("이름은? ")

임영웅의 등수는3

2주차 실습 - 7

In [ ]:
# 구구단을 외자! 숫자를 입력받으면, 해당 숫자의 구구단(해당 숫자에 1~9를 곱한 값들)을 출력하는 함수를 만드세요.

def print_dan(x):
  for i in list(range(1,10)):
    print (x*i)

dan = int(input("숫자 입력"))
while dan != 0:
  print_dan(dan)
  dan = int(input())

숫자 입력3
3
6
9
12
15
18
21
24
27

In [ ]:
# 이번 주 로또 번호를 화면에 표시하는 프로그램을 만들고자 합니다.
로또 설명

1000회분의 로또 번호를 랜덤하게 생성한 것을 지난 1000회의 로또 번호라 가정합니다.
1회분의 로또 번호는 1-45 사이의 중복되지 않는 숫자 6개로 이뤄집니다.
지난 1000회에서 나온 숫자(1000회*6개)의 빈도를 계산하고 표시한 후, 가장 높은 빈도를 가진 숫자 6개를 뽑아 이 주의 로또 번호로 화면에 표시합니다.
로또 함수 설명

1회분의 로또 번호 생성기를 하나의 함수로 만듭니다.
이 함수를 1000회 사용하면 1000주 분량의 로또 번호를 만들 수 있습니다.
1000회분의 로또 번호를 화면에 표시합니다.
이 결과를 모아 통계를 내, 각 숫자가 몇회 등장했는지 표시합니다.
가장 자주 나타난 숫자 6개를 고르면, 이것이 이 주의 로또 번호 예측입니다.
동수가 동수가 있을 경우 어느 숫자를 골라도 무관합니다. 예컨대, 23과 41이 모두 80회씩 나타났다면 둘 중 아무 숫자를 써도 상관 없습니다.

In [ ]:
def lotto_generator(x):
  import random
  valist = list(range(1,46))
  lottery_nums = []
  for i in range(6):
    random.shuffle(valist)
    val = random.choice(valist)
    lottery_nums.append(val)
  print("")

In [ ]:
# 다시 해보기

In [ ]:
def lotto_generator(x):
	import random
	valist = list(range(1,46))
	lottery_nums = []
	for i in range(6):
		random.shuffle(valist)
		val  = random.choice(valist)
		lottery_nums.append(val)
	print("\n%s회 :" % x , end = " ")
	for i in lottery_nums:
		print(i,end = " ")
	return lottery_nums

def lotto_stat(x):
    results = {}
    for i in range(1,46):
        results[i] = 0
    for i in range(1,x+1):
        lottery_nums = lotto_generator(i)
        for i in lottery_nums:
            results[i] = results[i] + 1
    print("\n")
    for i in results.keys():
        print("%s : %d회" % (i,results[i]))
    return results


results = lotto_stat(30) """ 람다에 들어가서 무한 루프하는 것을
 							방지하기 위해 담아줍니다."""

this_nums = sorted(results, key= lambda c :results[c], reverse=True)[:6]

print("이 주의 로또 번호 :",end = " ")
for i in this_nums:
    print(i, end = " ")